@media print {
  .node-type-outreach {
    article {
      page-break-before: unset !important;
    }

    .off-canvas,
    .preheader,
    header,
    footer,
    .off-canvas,
    .no-print {
      display: none !important;
    }
  }

  header,
  .messages.message--status,
  footer {
    display: none !important;
  }
}
