/* ============================================================
  Styles for layout structure, including a column system!
  ============================================================ */

.layout-container {
  @extend %centered-layout;

  .not-found & {
    margin: 0 3rem;
  }

  .content-top {
    margin: 0 0 1.5rem;
    position: relative;
  }

  .layout-sidebar-second {
    @include respond-to('l') {
      margin: 0 0 0 1.5rem;
      max-width: 800px;
    }
  }

  .layout-sidebar-first {
    margin: 1.5rem 0 0;

    @include respond-to('m') {
      margin: 0 1rem 0 0;
    }

    @include respond-to('l') {
      margin: 0 1.5rem 0 0;
    }
  }

  .layout-sidebar-first {
    order: 2;

    @include respond-to('l') {
      order: 1;
    }
  }

  .layout-sidebar-first ~ .layout-content {
    order: 1;

    @include respond-to('l') {
      max-width: 73%;
      order: 2;
    }
  }

  .layout-sidebar-second {
    order: 2;

    @include respond-to('l') {
      order: 2;
    }
  }

  .layout-sidebar-second ~ .layout-content {
    order: 1;

    @include respond-to('l') {
      order: 1;
    }
  }
}

.row {
  display: flex;
  flex-direction: column;

  @include respond-to('l') {
    flex-flow: row wrap;
    justify-content: start;

    &.no-justify {
      justify-content: flex-start;
    }
  }
}

// Default column styling with gutters to match the negative margins.

.col {
  flex: 1;

  &.percent-25 {
    @include respond-to('l') {
      flex: 0 0 auto;
      min-width: 24%;
      width: calc(25% - 0.75rem);
    }
  }

  &.percent-33 {
    @include respond-to('l') {
      flex: 0 0 auto;
      min-width: 32%;
      width: calc(33% - 0.75rem);
    }
  }

  &.percent-50 {
    @include respond-to('xxs') {
      flex: 0 0 auto;
      width: 100%;
    }

    @include respond-to('xl') {
      flex: 0 0 auto;
      width: calc(50% - 1rem);
    }
  }
}
