.main-grid-container {
  max-width: $global-width;
  padding: 0;
}

/* request by Ron */
div.l-section {
  margin-left: -2em;
  margin-right: -2em;
  padding: 2em;
}


// ==========================================================================
// Layout
// ==========================================================================

/* Containers
   ========================================================================== */
.l-constrained {
    @extend %l-constrained;
}

.l-constrained--main {
    position: relative;
}

.l-constrained--site {
    @extend %l-constrained;
    max-width: $site;
}

.l-constrained--wide {
    @extend %l-constrained;
    max-width: $site-constraint;
}

.l-constrained--desktop {
    @extend %l-constrained;
    max-width: $desktop-wide;
}

.l-container {
    @extend %clearfix;
}
