/* ============================================================
  Reset styles.
  ============================================================ */

body {
  background-color: $alto;
  font-family: $body-copy;
  font-size: 1rem;

  .main {
    background-color: $white;
  }

  .off-canvas-wrapper {
    overflow: unset;
  }
}

button {
  font-family: $headline;
  font-size: 1rem;
}
