/* ============================================================
  Reset styles.
  ============================================================ */

body {
  font-size: 1rem;
  font-family: $body-copy;
  background-color: $alto;
}

button {
  font-family: $headline;
  font-size: 1rem;
}
