/* ============================================================
  Reset styles.
  ============================================================ */

body {
  background-color: $alto;
  font-family: $font-family;
  font-size: 1rem;

  .main {
    background-color: $white;
  }

  .off-canvas-wrapper {
    overflow: hidden;

    @include breakpoint(mobile-landscape) {
      overflow: unset;
    }
  }
}

button {
  font-family: $font-family-secondary;
  font-size: 1rem;
}
