/* Entry
   ========================================================================== */

.post__meta {
  .social-share__wrap {
    text-align: center;
    margin-top: 1.5em;
  }

  // @include mq($from: tablet) {
  //   @include rem('font-size', 13px);

  //   .social-share__wrap {
  //     margin: 1em 0;
  //     text-align: center;
  //   }
  // }
}

.post__author {
  a {
    text-decoration: none;
  }
}

.article--teaser,
.article__teaser {
  padding: 1em;

  &:nth-child(2n + 1) {
    background-color: $off-white;
  }

  .event--day {
    font-size: 3em;
  }
}

.entry__content {
  > img {
    margin-top: 2em;
    margin-bottom: 2em;
    display: inline-block;
  }
}

.entry__image {
  img {
    width: 100%;
  }
}

// .entry__pagination {
//   @include mq($from: tablet) {
//     padding-left: 5em;
//     padding-right: 5em;
//     @include rem("font-size", 13px);

//     .entry--prev {
//       text-align: right;
//     }

//     .six {
//       padding-left: 2em;
//       padding-right: 2em;
//     }

//     .six:first-child {
//       border-right: 1px solid $alto;
//     }
//   }
// }
