.node-type-blog {

  h1.main__heading {
    font-size: 2rem;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;

    @include breakpoint(medium-large) {
      font-size: 3rem;
    }
  }

  .field--name-field-website a {
    color: $teal;
  }

  .blog-title {
    text-align: center;
    padding: 2.5em 2em;
  }

  .content-body {
    border-top: 10px solid $alto;
    padding: 2rem;
  }

  .flex-caption {
    margin: 0;
    padding: .5em;
    padding-right: 2em;
    color: $shuttle;
    font-style: italic;
    background-color: $mercury;
    display: block;

    @include breakpoint(mobile-landscape) {
      padding-right: .5em;
    }
  }

  .field--name-field-description {
    @extend .flex-caption;
    max-width: 480px;

    p {
      margin-bottom: 0 !important;
    }
  }

  .field--name-body {
    min-width: 100%;
  }

  .l-section {
    @include breakpoint(medium-large) {
      margin-left: -2em !important;
      margin-right: -2em !important;
    }
  }
}
