.node-type-blog {

  .blog-title {
    h1 {
      font-size: 2rem;
      margin: 0;
      padding: 2.5rem 0;

      @include breakpoint(medium-large) {
        font-size: 3rem;
      }
    }
  }

  .field--name-field-website a {
    color: $teal;
  }

  .content-body {
    border-top: 10px solid $alto;
    padding-top: 2rem;
  }
}

.flex-caption {
  margin: 0;
  padding: .5em;
  padding-right: 2em;
  color: $shuttle;
  font-style: italic;
  background-color: $mercury;
  display: block;

  @include breakpoint(mobile-landscape) {
    padding-right: .5em;
  }
}

.field--name-field-description {
	@extend .flex-caption;
  max-width: 480px;

	p {
		margin-bottom: 0 !important;
	}
}
