.node-type-blog,
.node-type-search-page {
  h1.main__heading {
    font-size: 2rem;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;

    @include breakpoint(medium-large) {
      font-size: 3rem;
    }
  }

  .field--name-field-website a {
    color: $teal;
  }

  .blog-title {
    text-align: center;
    padding: 2.5em 2em;
    background-color: white;
  }

  .main__image {
    background-color: white;
  }

  .content-body {
    margin-top: 10px;
    background-color: white;
  }

  .hero__bg.hero__bg--secondary {
    position: absolute;
    width: 100%;
    min-height: 20.4rem;
    z-index: 0;
  }

  .flex-caption {
    margin: 0;
    padding: 0.5em;
    padding-right: 2em;
    color: $shuttle;
    font-style: italic;
    background-color: $mercury;
    display: block;

    @include breakpoint(mobile-landscape) {
      padding-right: 0.5em;
    }
  }

  .field--name-field-description {
    max-width: 480px;

    p {
      margin-bottom: 0 !important;
    }

    @extend .flex-caption;
  }

  .field--name-body {
    min-width: 100%;
  }

  .l-section {
    margin-left: -2em !important;
    margin-right: -2em !important;
    padding: 2em;

    @include breakpoint(mobile-landscape) {
      margin-left: -4em !important;
      margin-right: -4em !important;
      padding: 2em 4em;
    }
  }
}
