.node-type-bucket {
  .hero__bg.hero__bg--secondary {
    position: absolute;
    width: 100%;
    min-height: 16rem;
    z-index: 0;
    background: #0098db;
    background: linear-gradient(left, #0098db 0%, #00c7b2 100%);
    background: linear-gradient(left, #0098db 0%, #00c7b2 100%);
    background: linear, to right, #0098db 0%, #00c7b2 100%;
  }

  .card__container {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.node--type-bucket {
  .subtitle-media,
  .resources-title,
  .section-title,
  .featured-items .field--name-field-section-title {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .subtitle-media {
    img {
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      margin: 0.5em 0 0.2em;

      @include breakpoint(mobile-landscape down) {
        font-size: 2rem;
        margin-top: 0;
      }
    }

    h2 {
      font-size: 1.6875rem;
    }
  }

  .card__container .card__wrap {
    margin-top: 0.5em;
  }
}
