.node--type-bucket {

  .subtitle-media,
  .resources-title,
  .featured-items .field--name-field-section-title {
    text-align: center;
  }

  .subtitle-media {
    img {
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 0;
    }

    .subtitle {
      color: $teal;
      font-size: 1.25rem;
    }
  }
}
