.node--type-bucket {

  .subtitle-media,
  .resources-title,
  .section-title,
  .featured-items .field--name-field-section-title {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .subtitle-media {
    img {
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 0.2rem;

      @include breakpoint(mobile-landscape down) {
        font-size: 2rem;
        margin-top: 0;
      }
    }

    h2 {
      font-size: 1.6875rem;
    }
  }

  .card__container .card__wrap {
    margin-top: 0.5em;
  }
}
