.node--type-department-document {
  .main__heading {
    font-size: 2rem;
    padding: 0 1rem 2rem;
    border-bottom: solid 8px $alto;
    text-align: center;
    margin: 0;

    @include breakpoint(medium) {
      font-size: 3rem;
      padding: 2rem;
    }
  }

  .node__content {
    margin-bottom: 0;

    .file {
      display: grid;
      grid-template-columns: 23px 1fr;
      margin-bottom: 0.4rem;

      img {
        padding-right: 0.2rem;
      }
    }
  }
}
