.node-type-department-parent {
  h1.page-title {
    opacity: 0;
  }

  h1.dp-title {
    font-size: 2.25rem;
    margin-top: 0;

    @include breakpoint (mobile-landscape down) {
      margin-bottom: 1em;
    }
  }

  .top-menu {
    @include breakpoint (mobile-landscape) {
      padding-top: 7em;
    }
  }

  .dept-parent-logo {
    width: 100%;
    text-align: center;
    
    img {
      //border-right: 1px solid $alto;
      //padding: 1rem;
      width: auto;
      height: 70px;
    }
  }

  .sidebar {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .btn {
      font-size: 1rem !important;
    }
  }

  .slides {
    flex-wrap: wrap;
    display: flex;

    .card__wrap {
      width: 47%;
      padding: 0 0.5em 0.75em 0.5em;

      @include breakpoint(medium) {
        width: 33%;
      }

      .card {
        margin: 0;
      }

      .card__headline a {
        font-size: 1rem;
      }
    }
  }

  .hero__slides--content {
    .slides {
      overflow: hidden;
    }
  }

  .hero__slides--secondary {
    @include breakpoint(site down) {
      padding-bottom: 2em;
      min-height: 100px;
    }

    .hero__content {
      text-align: center;

      p {
        margin: 0;
        font-size: 1.5rem;
      }

    }

    .flex-control-nav {
      display: block;

      @include breakpoint(site down) {
        bottom: 0;
      }
    }
  }

  .main-section {
    border-top: 1px solid #d1d8dc;
  }
  .sidebar {
    border-left: 1px solid #d1d8dc;
  }
}