.node--type-department {
  h1 {
    font-size: 2.25rem;
    margin: 0.5rem 0
  }

  h2 {
    font-size: 1.6875rem;
    margin: 1.5rem 0 0.875rem;
  }

  .sidebar {
    border-left: 1px solid $white;
    margin: 1rem 2rem 2rem;

    @include respond-to('m') {
      margin: 0;
      height: 100%;
    }

    ul {
      padding: 0;
      list-style-type: none;
      margin: 0;

      li {
        margin-bottom: 1rem;

        .btn {
          font-size: 1rem;
        }
      }
    }
  }
}
