.node-type-department-parent {
  h1.page-title {
    opacity: 0;
  }

  .dept-parent-logo img {
    border-right: 1px solid $alto;
    padding: 1rem;
  }

  .sidebar {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .btn {
      font-size: 1rem !important;
    }
  }
}
