.node--type-department-document {
  .main__heading {
    font-size: 2rem;
    padding: 0 1rem 2rem;
    border-bottom: solid 8px $alto;
    text-align: center;
    margin-top: 1rem;
    
    @include breakpoint(medium) {
      font-size: 3rem;
      padding: 2rem 2rem 3rem;
    }
  }

  .node__content {
    .file {
      align-items: baseline;
      margin-bottom: 2rem;
      img {
        padding-left: 0.2rem;
      }
    }
  }
}
