.node--type-digital-archives-photos {
  h1 {
    font-size: 2.25rem;
    margin: 0.5em 0;
  }

  h2 {
    font-size: 1.6875rem;
  }

  .photographer-date {
    text-align: center;

    @include breakpoint(medium) {
      font-size: 0.8125rem;
      text-align: left;
    }
  }

  .photo-content {
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }
  }
}
