.event__date {
  color: $font-color;
  line-height: 1;
  padding: 0.75em 0;
  font-weight: 600;
  text-align: center;
  background: white;
  border: 1px solid #d1d4d3;
  border-top: 5px solid #ffa02f;
  width: 20%;
  margin-right: 0.75rem;

  .event--day {
    padding-top: 0.3em;
    margin-top: 0.3em;
  }

  span {
    display: block;
    text-transform: uppercase;
  }

  span.nocase {
    display: block;
    text-transform: none !important;
  }

  @include rem("font-size", 13px);
}

.event-cerulean {
  border-left: 5px solid $cerulean !important;
}

.event-robin {
  border-left: 5px solid $robin !important;
}

.event-sunshade {
  border-left: 5px solid $sunshade !important;
}

.event-schoolbus {
  border-left: 5px solid $schoolbus !important;
}

.event-spruce {
  border-left: 5px solid $spruce !important;
}

.event-teal {
  border-left: 5px solid $teal !important;
}

.event-endeavour {
  border-left: 5px solid $endeavour !important;
}

.event-purple {
  border-left: 5px solid $purple !important;
}

.event-success {
  border-left: 5px solid $success !important;
}

.event-red {
  border-left: 5px solid $error !important;
}

.event__info {
  width: 75%;

  h6 {
    margin-top: 0;
  }

  p {
    line-height: 1.4;
  }

  .date-display-range {
    display: inline;
  }
}
