.node-type-event {

  h1.main__heading {
    font-size: 2rem;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;

    @include breakpoint(medium-large) {
      font-size: 3rem;
    }
  }
  
  .event-title {
    text-align: center;
    padding: 2em;
  }

  .date-wrapper {
    font-size: 1.5em;
  }

  .content-body {
    border-top: 10px solid $alto;
    padding-top: 2rem;
  }

  .flex-caption {
    margin: 0;
    padding: .5em;
    padding-right: 2em;
    color: $shuttle;
    font-style: italic;
    background-color: $mercury;
    display: block;

    @include breakpoint(mobile-landscape) {
      padding-right: .5em;
    }
  }

  .field--name-field-description {
    @extend .flex-caption;
    max-width: 480px;

    p {
      margin-bottom: 0 !important;
    }
  }

  .field--name-body {
    min-width: 100%;
  }

  .address {
    .country {
      display: none;
    }
  }

  .body-content {
    border-top: 10px solid #dde2e5;
  }

  .fine-print {
    font-size: 0.75rem;
  }

  main>.nine:first-child:after {
    content: '';
    background: #eaeeef;
    position: absolute;
    top: 0;
    right: -34.1%;
    height: 100%;
    width: 34.1%;
  }
}