/* ============================================================
  Styles for the header.
  ============================================================ */

.off-canvas-wrapper {

  .off-canvas-main-menu {
    background: $off-black;
    top: auto;

    ul {
      margin: 0;

      a {
        border-bottom: 1px solid $spruce;
        color: $white;
        display: block;
        padding: 1rem;
      }
    }
  }
}

.header {
  margin-bottom: 1.5rem;

  @include respond-to('l') {
    display: block;
    margin-bottom: 0;
  }

  .header-first,
  .header-second {
    @include respond-to('l') {
      background: $cerulean;
    }

    background-color: $white;
  }

  .header-first {
    padding: 1rem 0;

    .button {
      margin-bottom: 0;

      &::after {
        background: $cerulean;
        box-shadow: 0 7px 0 $cerulean, 0 14px 0 $cerulean;
      }
    }

    .burger-wrapper {
      $s: 0.2rem;

      cursor: pointer;
      height: $s * 8;
      margin: auto;
      width: $s * 10;

      .hamburger {
        background: $cerulean;
        height: $s;
        position: relative;
        transform: translateY($s * 4);
        transition: background 10ms 300ms ease;
        width: $s * 10;

        &:before,
        &:after {
          background: $cerulean;
          content: '';
          height: $s;
          left: 0;
          position: absolute;
          transform 300ms 50ms ease;
          transition: top 300ms 350ms ease,
          width: $s*10;
        }

        &:before {
          top: $s * -3;
        }

        &:after {
          top: $s * 3;
        }
      }
    }

    // .menu-trigger:checked {

    //   ~ .burger-wrapper {

    //     .hamburger {
    //       background: transparent;

    //       &:after, &:before {
    //         top: 0;
    //         transition: top 300ms 50ms ease,
    //         transform 300ms 350ms ease;
    //       }

    //       &:before {
    //         transform: rotate(45deg);
    //       }

    //       &:after {
    //         transform: rotate(-45deg);
    //       }
    //     }
    //   }
    // }

    .logo-mobile {
      width: 4.5rem;
    }

    .search-bar {
      color: $teal;

      @include respond-to('l') {
        display: block;
      }
    }
  }

  .header-second {

    @include respond-to('l') {
      background-color: $white;
    }

    padding: 0;

    .main-menu {

      @include respond-to('l') {
        background: $white;
        display: block;
        padding: 0;
      }

      .full-width {
        width: 100%;
      }
    }

    .tbm-submenu-toggle,
    .tbm .tbm-item {
      background-color: $white;
      color: #333;
    }

    .tbm-submenu-toggle:hover,
    .tbm-submenu-toggle:focus,
    .tbm .tbm-item a:hover,
    .tbm .tbm-item a:focus,
    .tbm .tbm-item .open {
      background-color: $tulip;
      color: $white;
    }

    .tbm .nav li.dropdown.active > .dropdown-toggle .caret {
      border-top-color: $tulip;
      border-bottom-color: $tulip;
    }

    .tbm-main {

      @include respond-to('l') {
        background: $white;
      }

      a {
        background-color: $white;
        color: #333;
      }
    }

    .tbm-submenu {
      border-color: transparent;
    }

    .tbm-button {
      margin: 0;
    }
  }

  .search-bar {
    .input-group {
      margin: 0;
    }
  }
}
