/* ============================================================
  Styles for the header.
  ============================================================ */
@mixin transform($transforms) {
  transform: $transforms;
  transform: $transforms;
  transform: $transforms;
  transform: $transforms;
}

@mixin transition($transition...) {
  transition: $transition;
  transition: $transition;
  transition: $transition;
  transition: $transition;
}

.off-canvas-wrapper {
  .off-canvas-main-menu {
    background: $off-black;
    top: auto;

    //transition: translate var(--animation-timing);
    //translate: -100%;

    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;

      li {
        margin: 0;
        padding: 1rem 1rem 1rem 2rem;
        border-bottom: 1px solid $spruce;

        &:last-child {
          border-bottom: none;
        }
      }

      a {
        color: $white;
        display: block;
        text-decoration: none;
      }
    }
  }
}

.header {
  .header-first,
  .header-second {
    background-color: $white;

    @include breakpoint(mobile-landscape) {
      background: $cerulean;
    }
  }

  .header-first {
    padding: 0.5rem 0 1rem;

    .grid-x {
      align-items: center;
    }

    .button {
      margin-bottom: 0;

      &::after {
        background: $cerulean;
        box-shadow: 0 7px 0 $cerulean, 0 14px 0 $cerulean;
      }
    }

    .logo-mobile {
      width: 4.5rem;
    }

    @include breakpoint(mobile-landscape) {
      padding: 1rem 0;
    }
  }

  .header-second {
    background-color: $off-white;
    box-shadow: 0 4px 3px -3px rgb(0 0 0 / 30%);
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    .main-menu {
      .full-width {
        width: 100%;
      }

      //box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.3);

      @include breakpoint(medium) {
        background: $white;
        display: block;
        padding: 0;
      }
    }

    .tb-megamenu .tb-megamenu-item > .home-link {
      color: $font-color;
      display: block;
      height: 100%;
      padding: 1.25rem 1em 1em;
      text-decoration: none;

      //width: 56px;

      &:focus,
      &:hover {
        background-color: $texasrose;
        text-decoration: none;
      }

      i {
        display: block;
        font-size: 24px;
        text-align: center;
      }
    }

    .tb-megamenu img {
      border-radius: 50%;
    }

    .tb-megamenu .nav > li > a,
    .tb-megamenu .nav > li > span.tb-megamenu-no-link {
      border: none;
    }

    .tb-megamenu-main .tb-megamenu-item > a {
      align-items: stretch;
      background-color: $white;

      &:hover,
      &:focus {
        background-color: $texasrose;
        color: $font-color;
      }
    }

    .tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
    .tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
    .tb-megamenu-submenu-toggle,
    .tb-megamenu .tb-megamenu-item {
      background-color: $white;
      color: $font-color;
    }

    .tb-megamenu-submenu-toggle {
      color: $tulip;
    }

    .tb-megamenu .nav li.dropdown.active > .dropdown-toggle:hover,
    .tb-megamenu .nav li.dropdown.open > .dropdown-toggle:hover,
    .tb-megamenu .nav li.dropdown.open > .dropdown-toggle:focus,
    .tb-megamenu .nav li.dropdown.open > .dropdown-toggle:focus-visible {
      /* .tb-megamenu .nav>li.dropdown.open.active>a:hover,
    .tb-megamenu .nav>li.dropdown.open.active>span.tb-megamenu-no-link:hover,
    .tb-megamenu-submenu-toggle:hover,
    .tb-megamenu-submenu-toggle:focus,
    .tb-megamenu .tb-megamenu-item>a:hover,
    .tb-megamenu .tb-megamenu-item>a:focus,
    .tb-megamenu .tb-megamenu-item>a:focus-visible,
    .tb-megamenu .dropdown-toggle:hover:before,
    .tb-megamenu .dropdown-toggle:focus:before,
    .tb-megamenu .tb-megamenu-item .open { */
      background-color: $texasrose;
      color: $font-color;
      text-decoration: none;
    }

    .tb-megamenu .nav > li > a:focus,
    .tb-megamenu .nav > li > a:hover,
    .tb-megamenu .nav > li > span.tb-megamenu-no-link:focus,
    .tb-megamenu .nav > li > span.tb-megamenu-no-link:hover {
      //color: $white;
    }

    .tb-megamenu .dropdown-toggle:hover i,
    .tb-megamenu .dropdown-toggle:focus i {
      color: $font-color;
    }

    .tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret {
      border-top-color: $tulip;
      border-bottom-color: $tulip;
    }

    .tb-megamenu-main {
      .tb-megamenu-item > a {
        color: $font-color;
        font-size: 0.8125rem;
        font-weight: 600;
        line-height: 1.6;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;

        &.dropdown-toggle {
          display: block;
          height: 100%;
          padding: 1em;
        }

        &[title]::after {
          content: attr(title);
          display: block;
          font-size: 0.6875rem;
          font-weight: normal;
          text-transform: none;
        }
      }

      .dropdown > a > i {
        color: $sunshade;
        font-size: 1.25rem;
        position: absolute;
        right: 5px;
      }

      .tb-megamenu-nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0 !important;
        padding: 0 1px 0 0;
        justify-content: space-between;
        background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d4d4d4));
        background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
        background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
        background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
        background: linear, to bottom, #fff 0%, #d4d4d4 100%;

        .tb-megamenu-item {
          border: none;
          flex-grow: 1;
          margin: 0;
          padding: 0;

          &::before {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d4d4d4));
            background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
            background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
            background: linear-gradient(top, #fff 0%, #d4d4d4 100%);
            background: linear, to bottom, #fff 0%, #d4d4d4 100%;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr="#ffffff", endColorstr="#d4d4d4", GradientType=0);
            z-index: 1;
          }

          /* &:first-child {
            &:before {
              width: 0;
            }
          } */
        }
      }

      @include breakpoint(medium) {
        background: $white;
      }
    }

    .tb-megamenu-submenu {
      border: none;
      padding: 1rem;

      h4 {
        font-size: 1.125rem;
        font-weight: normal;

        a {
          line-height: inherit;
          padding: 0;
          text-decoration: underline;
          white-space: normal;

          &:hover {
            text-decoration: none;
          }
        }
      }

      &.resident-resources h4 {
        margin: 0;
        padding: 1.125rem 0;
      }

      ul {
        margin: 0;

        li {
          list-style: none;
          text-transform: uppercase;
          margin-bottom: 0.5em;
          line-height: 1.2;

          a {
            text-decoration: none;
            font-weight: 600;
            font-size: 0.9em;
            color: #5d676f;

            &:hover,
            &:focus {
              color: $font-color;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      p {
        margin: 0;
      }
    }

    .tb-megamenu-button {
      margin: 0;
    }

    .tb-megamenu-block {
      text-transform: none !important;

      h2 {
        margin-top: 0.6em;
        padding-bottom: 0.4em;
        border-bottom: 1px solid $alto;
      }
    }

    .mega-dropdown-menu {
      width: 100% !important;
    }

    .menu-border {
      border-bottom: 1px dashed $alto;
      padding: 1em 0;

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    .heading--snug {
      padding-right: 1rem;
    }

    .nav__event {
      margin: 0 1rem 1rem 0;
      font-size: 0.8125em;
      align-items: center;
      justify-content: center;
      width: 100%;
      line-height: 1.3;

      &:last-child {
        margin-bottom: 0;
      }

      >div {
        padding-left: 1rem;
      }

      a {
        color: $cerulean;
        padding: 0;
      }
    }

    @include breakpoint(medium) {
      background-color: $white;
      padding: 0;
    }
  }

  .header-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }

  .block-sand-weather a {
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    justify-content: left;
    display: flex;
    align-items: center;
    text-decoration: none;

    i {
      font-size: 1.5em;
      margin-right: 5px;
    }
  }

  .accessibility-toggle {
    display: flex;
    justify-content: center;

    a {
      color: $white;
      font-size: 0.75rem;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }

  .languages {
    display: flex;
    justify-content: right;
    color: $cerulean;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;

    #google_translate_element {
      display: flex;

      i {
        padding: 0.1rem 0 0 0.25rem;
      }
    }

    a {
      &.goog-te-menu-value {
        span {
          opacity: 0;
        }
      }
    }

    .submenu-open & {
      z-index: 200;
    }

    @include breakpoint(medium) {
      color: $white;
    }
  }

  .goog-te-gadget {
    .goog-te-gadget-simple {
      background: transparent;
      border: 0;
      padding-top: 0;

      a {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }

    span {
      border: 0 !important;
      font-size: 0.6rem;

      &:nth-child(2) {
        display: none;
      }
    }

    img {
      display: none;
    }
  }

  .search-bar {
    text-align: right;

    .views-exposed-form {
      margin: 0;

      .form-item input {
        border: none;
        border-radius: 4px 0 0 4px;
      }
    }

    #views-exposed-form-search-site-all {
      .form-item {
        margin: 0;
      }

      #edit-actions,
      #edit-actions--2 {
        margin-top: 0;
        font-size: 3em;
      }

      #edit-submit-search-site,
      #edit-submit-search-site--2 {
        padding-top: 0;
      }
    }

    .form-submit {
      padding: 0;
      width: 2rem;
    }

    .input-group {
      border: 1px solid $cerulean;
      margin: 0;
    }

    .input-group-submit {
      display: flex;
    }

    input {
      font-size: 0.8125rem;

      &::placeholder {
        color: $font-color;
      }
    }
  }

  &.simple-header {
    padding: 0.5rem 1em 0.6rem;
    box-shadow: 0 4px 3px -3px rgb(0 0 0 / 30%);
    z-index: 5;
    position: relative;
    background-color: white;

    .logo {
      text-decoration: none;
      display: flex;
      align-items: center;

      img {
        width: 37px;
        height: auto;
      }

      span {
        color: $font-color;
        font-size: 0.8125rem;
        display: block;
        padding-left: 0.8rem;
        padding-top: 0.5rem;
      }
    }

    .translate {
      text-align: right;

      .languages {
        color: $font-color;
        margin: 0.2rem 0 0;

        i {
          font-size: 1.8rem;

          @include breakpoint(medium) {
            font-size: 0.75rem;
          }
        }

        @include breakpoint(medium) {
          margin: 0.5rem 0 0;
        }
      }
    }

    @include breakpoint(mobile-landscape) {
      padding: 0.5rem 0 0.6rem;
    }
  }

  @include breakpoint(mobile-landscape) {
    display: block;
    margin-bottom: 0;
    z-index: 100;
  }
}

ul.toolbar-menu {
  li.menu-item {
    padding: 0;
  }
}

.accessibility-tools {
  >div {
    margin: 0 0 1rem;
  }

  .high-contrast-switch {
    display: inline-block;
  }
}

// Top Navigation Strip (On portal pages)
.top-nav-strip {
  color: white;
  padding: 0.5em 1em;
  background: $science;
  font-size: 0.8125rem;

  header & {
    padding: 0.5em 1em;
    background: white;
    box-shadow: 0 4px 3px -3px rgb(0 0 0 / 30%);
    position: relative;
    z-index: 300;

    p a {
      color: $font-color;

      img {
        height: 30px;
        width: auto;
        max-width: none;
      }
    }
  }

  p {
    margin: 0;
    line-height: 1.9;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    font-family: $body-copy, sans-serif;
  }
}

section.not-found {
  background: url("../images/skyline-silhouette.png") no-repeat center bottom;
  height: 100%;
  position: absolute;
  width: 100%;
}

.not-found {
  .simple-header {
    padding: 0.5em 1em;
    background: white;
    box-shadow: 0 4px 3px -3px rgb(0 0 0 / 30%);
    position: relative;
    z-index: 300;
  }

  .form-submit {
    padding: 0;
    width: 2rem;
  }

  .input-group {
    margin: 0;
  }

  .input-group-field {
    border-color: #0098db;
    border-radius: 4px 0 0 4px;
  }

  .input-group-submit {
    display: flex;

    input {
      padding: 0 1.75em;
    }
  }

  input {
    font-size: 0.86rem;

    &::placeholder {
      color: $font-color;
    }
  }

  .form--search input[type="submit"] {
    color: #0098db;
    border-radius: 0 4px 4px 0;
    border: 1px solid #0098db;
    background-image: url(/images/blue-search-icon.svg);
    background-color: #0098db;
  }

  .form--search input:focus {
    border-top-color: #0098db;
    border-left-color: #0098db;
  }
}

.menu-toggle {
  width: 4em;
  height: 4em;
  position: relative;
  z-index: 201; /* 1 */
  display: none;
  font-weight: 600;
  padding-top: 0.25em;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;

  &:hover,
  .js-nav &:hover {
    color: white;
    background-color: $cerulean;
    border-color: $cerulean;
  }

  .js-nav & {
    background-color: transparent;
  }

  @include breakpoint(mobile-landscape down) {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
  }
}

/* Mobile Menu Button */

:root {
  --bar-width: 20px;
  --bar-height: 2px;
  --hamburger-gap: 6px;
  --foreground: white;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.menu-wrapper {
  background-color: $cerulean;
  border-radius: 4px;
  padding: 0.5rem 0.8rem 0.8rem;
  position: absolute;
  top: 1em;
  left: -75px;
  z-index: 100;
  display: flex;
  flex-direction: column;

  >span {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: white;
  }
}

.burger-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  z-index: 2;
  cursor: pointer;
  width: 18px;
  margin: 0 auto;

  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
    opacity: 1;

    &:checked {
      opacity: 0;
      width: 0;
    }

    &[type="checkbox"]:focus,
    &[type="checkbox"]:hover {
      border-color: unset;
      outline: none;
      border: none;
    }
  }
}

.burger-wrapper:has(input:focus-visible)::before,
.burger-wrapper:has(input:focus-visible)::after,
.burger-wrapper input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.burger-wrapper::before,
.burger-wrapper::after,
.burger-wrapper input {
  top: 0;
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  color: var(--foreground);
  border-color: white;
  border-radius: 9999px;
  transform-origin: left center;
  transition:
    opacity var(--animation-timing),
    width var(--animation-timing),
    rotate var(--animation-timing),
    translate var(--animation-timing),
    background-color var(--animation-timing);
}

.burger-wrapper:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.burger-wrapper:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.burger-wrapper:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

/* .burger-wrapper:has(input:checked) + .menu-wrapper {
  translate: -250px;
} */

.js-off-canvas-overlay {
  background: rgb(11 11 11 / 80%);
}

.off-canvas {
  position: absolute;

  &.is-closed {
    visibility: visible;
  }

  @include breakpoint(mobile-landscape) {
    display: none;
  }
}

.position-right {
  overflow-y: unset;
}

.submenu-major {
  .grid-x {
    flex-direction: column;
  }

  li.level-3 {
    border-bottom: 1px dashed $alto !important;
    padding-bottom: 0.8em !important;
    margin-bottom: 0.7em !important;
    width: 100%;

    &:last-child {
      border-bottom: none !important;
      margin-bottom: 0 !important;
    }
  }

  .level-3 {
    display: flex !important;
    flex-flow: wrap;
    align-items: flex-start;
    padding-bottom: 0 !important;

    div {
      flex: 1;
    }

    h4 {
      text-transform: none !important;
    }

    a {
      font-size: 0.9em !important;
      border-top: none !important;
      color: $link-color !important;
      background: transparent !important;
      padding: 0 !important;

      &:hover {
        text-decoration: underline !important;
        background-color: transparent !important;
        color: lighten($link-color, 10%) !important;
      }

      &:focus-visible {
        background-color: transparent !important;

        //color: $font-color !important;
      }
    }

    .tb-megamenu-submenu,
    .mega-inner {
      padding: 0 !important;
    }

    li.level-4 {
      padding: 0;
      margin-bottom: 0.5rem !important;
      line-height: 1.1em !important;

      a {
        padding: 0 !important;
        line-height: inherit !important;
      }

      &:last-child {
        margin-bottom: 0 !important;
      }
    }

    ul.level-3 {
      flex-direction: column !important;
      align-content: flex-start;
    }
  }
}

.submenu-minor {
  padding: 0.5rem !important;
  background-color: $off-white !important;
  border-radius: 10px;

  .tb-megamenu-submenu {
    padding: 0 !important;
  }

  a,
  .nav__event {
    background-color: $off-white !important;
    text-transform: none !important;
    font-size: 0.8125rem !important;
    font-weight: normal !important;
    color: $link-color !important;
    border: none !important;

    &:hover {
      text-decoration: underline !important;
      color: lighten($link-color, 10%) !important;
    }

    &:focus-visible {
      outline-offset: -3px;
    }
  }
}

.tb-megamenu-submenu li {
  &::before {
    content: none !important;
  }
}

.high-contrast-switch {
  display: none;
}
