/* ============================================================
  Styles for the header.
  ============================================================ */

.off-canvas-wrapper {

  .off-canvas-main-menu {
    background: $off-black;
    top: auto;

    ul {
      margin: 0;

      a {
        border-bottom: 1px solid $spruce;
        color: $white;
        display: block;
        padding: 1rem;
      }
    }
  }
}

.header {

  @include breakpoint(medium) {
    display: block;
    margin-bottom: 0;
  }

  .header-first,
  .header-second {
    background-color: $white;

    @include breakpoint(medium) {
      background: $cerulean;
    }
  }

  .header-first {
    padding: 0.5rem 0 1rem;

    @include breakpoint(medium) {
      padding: 1rem 0;
    }

    .grid-x {
      align-items: center;
    }

    .button {
      margin-bottom: 0;

      &::after {
        background: $cerulean;
        box-shadow: 0 7px 0 $cerulean, 0 14px 0 $cerulean;
      }
    }

    .burger-wrapper {
      $s: 0.2rem;

      cursor: pointer;
      height: $s * 8;
      margin: auto;
      width: $s * 10;

      .hamburger {
        background: $cerulean;
        height: $s;
        position: relative;
        transition: background 10ms 300ms ease;
        transform: translateY($s * 4);
        width: $s * 10;

        &:before,
        &:after {
          background: $cerulean;
          content: '';
          height: $s;
          left: 0;
          position: absolute;
          transition: top 300ms 350ms ease,
          transform 300ms 50ms ease;
          width: $s*10;
        }

        &:before {
          top: $s * -3;
        }

        &:after {
          top: $s * 3;
        }
      }
    }

    // .menu-trigger:checked {
    //
    //   ~ .burger-wrapper {
    //
    //     .hamburger {
    //       background: transparent;
    //
    //       &:after, &:before {
    //         top: 0;
    //         transition: top 300ms 50ms ease,
    //         transform 300ms 350ms ease;
    //       }
    //
    //       &:before {
    //         transform: rotate(45deg);
    //       }
    //
    //       &:after {
    //         transform: rotate(-45deg);
    //       }
    //     }
    //   }
    // }

    .logo-mobile {
      width: 4.5rem;
    }

  }

  .header-second {
    background-color: $off-white;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    @include breakpoint(medium) {
      background-color: $white;
      padding: 0;
    }

    .main-menu {

      @include breakpoint(medium) {
        background: $white;
        display: block;
        padding: 0;
      }

      .full-width {
        width: 100%;
      }
    }

    .home-button {
      color: $spruce;
      text-decoration: none;

      &:focus,
      &:hover {
        background-color: $tulip;
        color: $white;
        text-decoration: none;
      }
    }

    .tbm-submenu-toggle,
    .tbm .tbm-item {
      background-color: $white;
    }

    .tbm-submenu-toggle {
      color: $tulip;
    }

    .tbm-submenu-toggle:hover,
    .tbm-submenu-toggle:focus,
    .tbm .tbm-item a:hover,
    .tbm .tbm-item a:focus,
    .tbm .tbm-item--has-dropdown a:hover:before,
    .tbm .tbm-item--has-dropdown a:focus:before,
    .tbm .tbm-item .open {
      background-color: $tulip;
      color: $white;
      text-decoration: none;
    }

    .tbm .nav li.dropdown.active > .dropdown-toggle .caret {
      border-top-color: $tulip;
      border-bottom-color: $tulip;
    }

    .tbm-main {

      @include breakpoint(medium) {
        background: $white;
      }

      a {
        background-color: $white;
        color: $spruce;

        &.tbm-link {
          font-size: .8125rem;
          font-weight: 600;
          line-height: 1.6;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
        }

        &[title]:after {
          content: attr(title);
          font-size: 0.6875rem;
          font-weight: normal;
          text-transform: none;
        }
      }

      .tbm-item--has-dropdown > div > a > i {
        color: $sunshade;
        font-size: 1.25rem;
        position: absolute;
        right: 3%;
        top: 26%;
      }

      .tbm-nav {
        justify-content: space-between;

        .tbm-item {
          flex-grow: 1;
          margin: 0;

          &.level-1:first-child {
            border-left: 1px solid rgba(0,0,0,0.2);
            
            &:before {
              content: '';
              width: 1px;
              height: 100%;
              position: absolute;
              background: inear-gradient(top, #fff 0%, #d4d4d4 100%);
            }
    
          }
        }
      }
    }

    .tbm-submenu {
      border-color: transparent;

      h4 {
        font-size: 1.125rem;

          a {
            text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      &.resident-resources h4 {
        margin: 0;
        padding: 1.125rem 0;
      }

      ul {
        margin: 0;

        li {
          font-size: 0.86rem;
          list-style: none;
          text-transform: uppercase;
        }
      }

      p {
        margin: 0;
      }
    }

    .tbm-button {
      margin: 0;
    }

    .menu-border {
      border-bottom: 1px dashed $alto;
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
    }

    .heading--snug {
      padding-right: 1rem;
    }


    .nav__event {
      margin: 0 1rem 1rem 0;

      > div {
        padding-left: 1rem;
      }

      a {
        color: $cerulean;
      }
    }
  }

  .accessibility-toggle {
    display: inline-block;
    margin: 0 1rem 0.5rem 0;

    a {
      color: $white;
      font-size: 0.75rem;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }
  }

  .languages {

    @include breakpoint(medium) {
      color: $white;
    }

    color: $cerulean;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
    position: relative;

    #google_translate_element {
      display: flex;

      i {
        padding: 0.1rem 0 0 0.25rem;
      }
    }

    a {

      &.goog-te-menu-value {

        span {
          opacity: 0;
        }
      }
    }

    .submenu-open & {
      z-index: 200;
    }
  }

  .goog-te-gadget {

    .goog-te-gadget-simple {
      background: transparent;
      border: 0;

      a {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }

    span {
      border: 0 !important;
      font-size: .6rem;

      &:nth-child(2) {
        display: none;
      }
    }

    img {
      display: none;
    }
  }

  .search-bar {
    text-align: right;

    .form-submit {
      padding: 0;
      width: 2rem;
    }

    .input-group {
      border: 1px solid $cerulean;
      margin: 0;
    }

    .input-group-submit {
      display: flex;
    }

    input {
      font-size: 0.86rem;

      &::placeholder {
        color: $spruce;
      }
    }
  }

  &.simple-header {
    padding: 0.5em 1em 0.6rem;

    .logo {
      text-decoration: none;
      display: flex;
      align-items: center;

      img {
        width: 37px;
        height: auto;
      }

      span {
        color: $spruce;
        font-size: 0.8125rem;
        display: block;
        padding-left: 0.8rem;
        padding-top:0.5rem;
      }
    }

    .translate {
      text-align: right;

      .languages {
        color: $spruce;
        margin: 0.2rem 0 0;

        @include breakpoint(medium) {
          margin: 0.5rem 0 0;
        }

        i {
          font-size: 1.8rem;

          @include breakpoint(medium) {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

.accessibility-tools {

  > div {
    margin: 0 0 1rem;
  }

  .high-contrast-switch {
    display: inline-block;
  }
}
