.homepage {
  .hero__slides {
    min-height: 300px;
    background-color: $shuttle;
    z-index: 1;
  }

  &-content {
    margin-top: -100px;
    z-index: 5;
    position: relative;
  }

  .view-display-id-meetings {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;

    @include breakpoint(medium) {
      border-right: 1px solid #dde2e5;
    }

    h3 {
      padding: 0;
    }

    .field-content {
      display: flex;

      .event__date {
        border-top: 5px solid #0098db;
      }
    }
  }

  .view-id-events {
    margin-left: 1rem;
    margin-right: 1rem;

    h3 {
      padding: 0;
    }

    .field-content {
      display: flex;
    }
  }
  
  .get-it-done-app {
    p {
      margin-bottom: 0;
    }
  }

  .featured-item {
    margin-bottom: 1.5rem;

    a {
      text-decoration: none;
    }
  }

  h2 {
    margin: 1em 0 .5em 0;
    padding: 0;
  }
}

// Section Get it done
.webform-submission-webform-13161-form {
  margin-bottom: 1rem;

  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: 25% 25% 1fr;
    grid-template-rows: auto 45px;
    gap: 1rem;
  }

  .webform-type-fieldset {
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $off-black;
    margin-bottom: 2.5em;
    padding: 2em 1em 1em;

    @include breakpoint(medium) {
      width: 100%;
      margin-bottom: 0;
    }

    .form-item {
      margin-bottom: 0;
      font-size: 0.8125rem;

      .form-select {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
      }
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid;
      border-width: 10px 16px 0 16px;
      border-color: $off-black transparent transparent transparent;
      bottom: -10px;
      left: 50%;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);

      @include breakpoint(medium) {
        border-width: 16px 0 16px 10px;
        border-color: transparent transparent transparent #222;
        bottom: auto;
        left: auto;
        top: 55%;
        right: -10px;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    legend {
      margin-top: -2rem;
      padding: 0.5rem;

      .fieldset-legend {
        color: $off-black;
        text-transform: capitalize;
        font-size: 1rem;

        &:before {
          content: "";
          width: 2em;
          height: 2em;
          line-height: 1.75em;
          text-align: center;
          background: $robin;
          color: $white;
          font-family: "Merriweather", serif;
          display: inline-block;
          border-radius: 50%;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .step-1 {
    legend {
      .fieldset-legend {
        &:before {
          content: "1";
        }
      }
    }
  }

  .step-2 {
    legend {
      .fieldset-legend {
        &:before {
          content: "2";
        }
      }
    }
  }

  .step-3 {
    legend {
      .fieldset-legend {
        &:before {
          content: "3";
        }
      }
    }

    label {
      display: none;
    }

    @include breakpoint(medium) {
      .row {
        display: flex;
        justify-content: space-between;
      }
    }

    &:after {
      display: none;
    }
  }

  .form-actions {
    @include breakpoint(medium) {
      margin-top: 0;
      margin-bottom: 1rem;
      display: block;
      grid-column: 1/4;
      grid-row: 2/3;
    }
  }
}
