.homepage {
  .hero__slides {
    min-height: 300px;
    background-color: $shuttle;
    z-index: 1;
  }

  .main-grid-container {
    margin-top: -100px;
    padding: 1em;
    z-index: 5;
    position: relative;
  }
}
