.theme-insidesd {
  .header {
    position: relative;
    z-index: 1;
  
    .header-second {
      background-color: transparent;
      box-shadow: none;

      @include breakpoint(mobile-landscape down) {
        padding-left: 0;
        padding-right: 0;
      }
    
      .tb-megamenu-main {
        background-color: transparent;

        .tb-megamenu-nav {
          padding: 0;
        }

        .tb-megamenu-item {

          > a, .translate {
            &.dropdown-toggle {
              padding-top: 15px;
              padding-bottom: 14px;
            }
            
            &:not(.home-link) {
              padding-top: 18px;
            }
          }

          > a:hover, > a:focus {
            background-color: lighten($sunshade,10%);
          }

          &:first-child::before {
            width: 0;
          }
        }

        .top-menu {
          box-shadow: 0 4px 3px -3px rgba(0,0,0,.3);
          border-radius: 30px;
          overflow: hidden;

          @include breakpoint(mobile-landscape down) {
            border-radius: 0;
          }
        }
      }
    }
  }

  .form-coll-search {
    border-radius: 4px 30px 30px 4px;

    .input-group {
      border-radius: 4px 30px 30px 4px;

      input.form-submit {
        border-radius: 0 30px 30px 0;
        width: 15%;
      }
    }
  }

  #search-input {
    min-width: 200px;
    min-height: 30px;
  }

  article {
    z-index: 0;
  }

  .sub-navigation-mobile {
    padding: 0.5em 2em;

    .accordions {
      .accordion__heading {
        background-color: white;
        color: $spruce;
        border: 1px solid $spruce;
  
        .accordion__link, .accordion__link i {
          color: $spruce;
        }
      }

      .accordion__drawer {
        background-color: $riptide;
    
        .department-menu li a {
          background-color: $riptide;
          color: $spruce;
        }
      }
    }
  }

  .main-grid-container {
    border-radius: 30px 30px 0 0;
    overflow: hidden;
  }

  .footer {
    .region--footer__inner {
      background-color: #21282d;
      padding: 1rem;
      display: block;
      border-radius: 0 0 30px 30px;
    }
  }
}


