.node-type-location {

  .node__content {
    padding: 1rem;
  }

  .content-body {
    border-top: 10px solid $alto;
  }

  .sidebar .card {
    color: $spruce;
    border: none;
    background-color: #eaeeef;
    padding: 1em;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .field--type-address {
    font-weight: bold;
  }

  .contact-info {
    .grid-x {
      align-items: center;
    }
  }

  .address-text {
    display: flex;

    i {
      margin-right: 1rem;
    }
  }

}
