.node-type-location {

  .node__content {
    padding: 1rem;
  }

  .main__message {
    border-bottom: .5rem solid $light-gray;
  }

  .card {
    border: none;
  }

  .field--type-address {
    font-weight: bold;
  }

  .contact-info {
    .grid-x {
      align-items: center;
    }
  }

  .address-text {
    display: flex;

    i {
      margin-right: 1rem;
    }
  }

}
