.node-type-location {
  .node__content {
    padding: 1rem;
  }

  .content-body {
    margin-top: 10px;
    background-color: white;
  }

  .hero__bg.hero__bg--secondary {
    position: absolute;
    width: 100%;
    min-height: 20.4rem;
    z-index: 0;
  }

  .sidebar .card {
    color: $font-color;
    border: none;
    background-color: #eaeeef;
    padding: 1em;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .field--type-address {
    font-weight: bold;
  }

  .contact-info {
    .grid-x {
      align-items: center;
    }
  }

  .address-text {
    display: flex;

    i {
      margin-right: 1rem;
    }
  }
}
