.mayoral-artifacts-gallery {
  label {
    font-weight: bold;
  }

  .pager {
    margin: 2rem 0;
  }
}

.mayoral-artifacts-gallery-sidebar {
  h2 {
    font-family: $font-family-secondary;
    font-size: 1.6875rem;
  }

  ul {
    font-size: 0.8125rem;
    list-style-type: circle !important;
    padding-inline-start: 1rem !important;
  }
}
