.node-type-notification {
  .notification-title {
    h1 {
      font-size: 2rem;
      margin: 0;
      padding: 2.5rem 0;
      text-align: center;

      @include breakpoint(medium-large) {
        font-size: 3rem;
        text-align: left;
      }
    }
  }
}

#hr-1 {
  display: none;
}
