.node--type-outreach-article2 {
  .main-content {
    max-width: 800px;
  }
  .article-header {
    text-align: center;
    & > * {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    } 

    h1 {
      text-align: center;
      font-size: 2.25rem;

      @include breakpoint(large) {
        font-size: 2.5rem;
      }
    }

    .subtitle{
      margin-bottom: 1em;
    }
  }
}
