.node--type-outreach-article2 {
  .main-content {
    max-width: 800px;
  }

  .article-header {
    text-align: center;

    & > * {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    .article-title {
      text-align: center;
      font-size: 2.25rem;
      padding: 0;

      @include breakpoint(large) {
        font-size: 2.5rem;
      }
    }

    .subtitle {
      margin-bottom: 1em;
      padding: 0;
    }

    &.image-bg {
      display: none;

      h1 {
        color: $white;
        text-shadow: 0 0 #555, 0 2px 0.3em black, 2px 0 0.3em black, 0 0 black;
      }

      @include breakpoint(medium) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .article-custom-block {
    margin-top: 2em;
  }
}
