.node--type-outreach {
  h1,
  h2 {
    padding: 0;
  }

  h1 {
    font-size: 2.25rem;
  }

  .section-outreach {
    .grid-container {
      padding: 0;
    }
  }

  p.noshadow,
  .stellar-window p.noshadow {
    text-shadow: none;
  }
}
