.node-type-resources {
  .slide-title {
    h1 {
      font-size: 2rem;
      margin: 0;
      padding: 2.5rem 0;
      text-align: center;

      @include breakpoint(medium-large) {
        font-size: 3rem;
        text-align: left;
      }
    }
  }

  .resource-content {
    .field {
      display: flex;
    }

    .field--type-image {
      padding: 1rem 0;
    }
  }

  .field__label {
    margin-right: 0.5rem;
    font-weight: bold;

    &::after {
      content: "\003A";
    }
  }
}
