/* ============================================================
  Styles for cards and featured cards.
  ============================================================ */

/* Cards Styles from D7 */
%facet {
  
  &.border {
    margin-bottom: 2em;
    padding-bottom: 2em;
  }

  @include breakpoint(medium) {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

body.path-search {
  aside.layout-sidebar-second {
    .block {
      @extend %facet;
      h3 {
        margin: 0;
      }
      ul {
        padding: 0 1em 0 0 !important;
      }
      li.facet-item {
        list-style-type: none;
        label {
          margin-right: 5px;
        }
      }
      .facets-checkbox {
        width: 1em;
      }
    }
  }
}
