.sidebar {
  h2 {
    font-family: $font-family-secondary;
    font-size: 1.5rem !important;
  }

  ul {
    font-size: 0.8125rem;
    list-style-type: circle;
    padding-inline-start: 1rem;
  }

  .instagram-media {
    min-width: unset !important;
  }
}
