//General style for views
.view {
  label {
    font-weight: bold;
    color: $spruce;
  }

  .form-item{
    margin-bottom: 0;

    @include breakpoint(medium) {
      margin-bottom: 1.5rem;
    }

    input {
      border-radius: 4px;
      border: 1px solid #a7abad;
      font-size: .8125rem;
    }
  }

  input[type="submit"] {
    background-color: $cerulean;
    color: $white;
  }

  input[data-drupal-selector="edit-reset"] {
    background-color: $success;
    color: $white;

    &:hover {
      background-color: #48710e;
    }
  }

  .form-actions{
    gap: 1rem;
  }

  .form--inline {
    .form-select {
      max-width: 100%;
    }
  }
}

//Theme DSD Subdivision Cards view
.view-dsd-subdivision-cards{
  background: $alto;
  padding: 1rem;

  @include breakpoint(medium) {
    padding: 2rem 0;
  }

  .form-actions{
    background: $alto;  
    margin-top: 0px;

    @include breakpoint(medium) {
      margin-top: 26px;
    }
  }
}

//Theme SD Admin Dept Docs without Category view



