//Theme for View: DSD Subdivision Cards
.view-dsd-subdivision-cards{
  background: $alto;
  padding-top: 2rem;
}

//General style for views
.view {
  label {
    font-weight: bold;
  }

  input[type="submit"] {
    background-color: $cerulean;
    color: $white;
  }

  input[data-drupal-selector="edit-reset"] {
    background-color: $success;
    color: $white;
  }
}
