//General style for views
.views-exposed-form {
  margin: 0 0 2em;

  .views-exposed-widgets {
    display: flex;

    .views-exposed-widget {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  label {
    font-weight: bold;
    color: $font-color;
  }

  .form-item {
    margin-bottom: 0;

    input {
      border-radius: 4px;
      border: 1px solid #a7abad;
      font-size: 1em;
      margin-bottom: 0;

      @include breakpoint(mobile-landscape down) {
        margin-bottom: 1em;
      }
    }

    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  input[name="year"] {
    min-width: 4em;
    width: 4em !important;

    @include breakpoint(mobile-landscape down) {
      width: 100% !important;
    }
  }

  input[name="year-filter"] {
    min-width: 4em;
    width: 8em !important;

    @include breakpoint(mobile-landscape down) {
      width: 100% !important;
    }
  }

  input[type="submit"] {
    @extend .btn;
  }

  input[data-drupal-selector="edit-reset"] {
    background-color: $sunshade;
    color: $font-color;
    outline: none;

    &:hover {
      background-color: lighten($sunshade, 10%);
    }
  }

  .form-actions {
    margin-top: 23px;

    .button {
      max-height: 44px;
      font-weight: normal;
      font-size: 1em;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }

      @include breakpoint(mobile-landscape down) {
        margin-right: 0;
      }
    }

    @include breakpoint(mobile-landscape down) {
      margin-top: 1.5rem;
    }
  }

  .form--inline {
    .form-item {
      margin-right: 1em;
      width: auto;
    }

    .form-select {
      max-width: 100%;
    }

    .form-actions {
      margin-bottom: 0;
      align-self: inherit;
    }

    .button {
      margin-top: 0;
    }
  }

  .view-filters .form--inline .form-item {
    width: auto;

    @include breakpoint(mobile-landscape down) {
      width: 100%;
    }
  }

  @media print {
    display: none !important;
  }
}

#views-exposed-form-search-site-all {
  input {
    @include breakpoint(mobile-landscape down) {
      margin-bottom: 0;
    }
  }

  @include breakpoint(mobile-landscape down) {
    border: 1px solid $spruce;
    border-radius: 4px;
  }
}

.header .search-bar .views-exposed-form .form--inline .form-item {
  width: 85%;
}

/* Table from sorted view
   ========================================================================== */

.view-grouping .views-table {
  width: 100%;
  margin-top: 0;

  caption {
    text-align: left;
    font-weight: 600;
    padding-left: 1em;
    padding-bottom: 0.75em;
    display: none;

    @include rem("font-size", 16px); // 1.25em
  }

  tbody {
    border: none;
  }

  tr:nth-child(even) {
    background: $off-white;
  }

  tr {
    td {
      background-color: #f6f6f6;
    }

    td:first-child {
      width: 20%;
      visibility: collapse;
    }

    &:first-child {
      td:first-child {
        visibility: visible;
      }
    }
  }
}

//Article category list view
.view-id-article_category_list {
  padding-top: 0.5rem;

  ul {
    padding: 0;
    list-style-type: none;

    .row-class {
      display: flex;
      justify-content: space-between;
      margin: 0 0 0.5em;
      padding: 0;
    }
  }
}

// Article archive list
.view-article-archives-list {
  padding-top: 1rem;

  h3 {
    font-family: "Open Sans" !important;
    margin-top: 0;
  }

  .accordion__drawer {
    padding-top: 1rem;

    ul {
      padding-left: 0;
      padding-inline-start: 0;

      .item-list {
        h3 {
          font-size: 0.8125rem;
        }
      }
    }
  }
}

// Article view exposed filter
.block-views-exposed-filter-blocks {
  .form-item {
    margin-bottom: 0;
    margin-right: 0;

    input {
      margin-bottom: 0;
    }
  }

  .form-actions {
    margin-top: 0.5rem;

    input {
      margin-right: 0.5rem;
    }
  }
}

// Events view
.view-events {
  .views-field {
    margin-bottom: 1rem;
  }

  .event__date {
    color: $font-color;
    line-height: 1;
    padding: 0.75em 0;
    font-weight: 600;
    text-align: center;
    background: white;
    font-size: 13px;
    font-size: 0.8125rem;
    width: 25%;
    float: left;
    border: 1px solid #d1d4d3;
    border-top: 5px solid #ffa02f;

    @include breakpoint(mobile-landscape) {
      width: 20%;
    }
  }

  .event__info {
    width: 75%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

// Committee View
.view-id-committee {
  .view-grouping-header {
    color: $teal;
    font-size: 1.25rem;
    font-family: $font-family-secondary;
    margin-bottom: 0.5rem;
    margin-top: 1.25rem;
  }
}

//View Planning-working-initiatives
.view-id-planning {
  .card {
    justify-content: space-between;
    margin-bottom: 1rem;

    &.l-padding-bl {
      padding-bottom: 0;
    }

    img {
      width: 100%;
    }
  }

  .field-content {
    display: flex;
    height: 100%;
  }

  .views-field.views-field-nothing {
    width: 100%;
  }

  .form--inline {
    display: flex;

    @include breakpoint(medium) {
      flex-wrap: nowrap;

      .form-item {
        width: auto;
      }

      .form-select {
        width: 100%;
        min-width: 100%;
      }
    }
  }

  &.view-display-id-news {
    input {
      max-width: 100%;
      min-width: auto;
      width: 100%;
      margin-bottom: 0;

      @include breakpoint(mobile-landscape down) {
        margin-bottom: 1rem;
      }
    }

    .row {
      width: 100%;
    }

    .field-content {
      display: block;
    }

    .pager {
      margin: 1rem 0;
    }
  }

  &.view-display-id-latest_news_box {
    .row {
      display: flex;
    }

    .view-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: stretch;

      .views-row {
        flex-basis: 33%;

        .views-field {
          height: 100%;
        }
      }

      @include breakpoint(medium) {
        flex-direction: row;
      }
    }

    .card {
      margin-bottom: 0;

      img.file-icon {
        width: auto;
      }

      &__content {
        padding: 1.5em;
      }

      &__headline a {
        color: $font-color;
        text-decoration: none;
        font-family: $headline, serif;
        font-size: 16px;
        font-size: 1rem;
      }
    }
  }
}

// View Cold Cases
.view-id-cold_cases {
  .pager {
    margin: 1rem 0 2rem;
  }
}

// Article views
.view-id-articles.view-display-id-block_1,
.view-id-articles.view-display-id-block_2,
.view-id-articles.view-display-id-block_3,
.view-id-articles.view-display-id-mayors_desk,
.view-id-articles.view-display-id-videos {
  .view-content {
    //width: calc(100% + 32px);
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
    margin-right: -2rem;

    .field-content {
      padding: 0 24px;
      display: block;

      h3 {
        a {
          color: $font-color;
          text-decoration: none;
        }
      }
    }
  }

  .odd {
    background-color: $off-white;
  }

  h3 {
    a {
      color: $font-color;
      text-decoration: none;
    }
  }

  .pager {
    margin: 0;
  }
}

// Boards and commision views
.view-id-boards_and_commissions {
  .row {
    &.hide-on-desktop {
      display: flex;
    }

    @include breakpoint(medium) {
      display: flex;
    }
  }

  .pager {
    margin: 1rem 0 0;
  }
}

//View-id-citizens_services_directory
.view-citizens-services-directory {
  hr {
    width: 100%;
    min-width: 100%;
  }

  .row.hide-on-desktop {
    display: flex;
  }

  .view-filters {
    margin-top: 1rem;
  }
}

.view-department-news-and-announcements {
  position: relative;

  .view-header {
    @include breakpoint(mobile-landscape) {
      position: absolute;
      top: -3rem;
      right: 0.5rem;
    }
  }
}

.view-department-notifications {
  margin-bottom: 2rem;
  
  hr {
    background-color: #d1d8dc;
  }
}

#edit-save-order {
  outline: none;
  margin-bottom: 1.5em;
  font-weight: normal;
}

/* Custom CSS for Views having groupings like External Data (OCD)
========================================================================== */
.view-custom-css .view-grouping {
  .view-grouping-header {
    font-size: 1.3125rem;
    color: $pine;
    font-family: $headline !important;
    margin: 1em 0 0.5em;
  }

  table {
    margin-bottom: 0.5rem;
    border: none;
    background-color: $off-white;

    tr.ocd-group {
      td {
        padding: 0.5rem;
        border: none;
      }

      &:first-child {
        td {
          padding-top: 1rem;
          border: none;
        }
      }

      &:last-child {
        td {
          padding-bottom: 1rem;
          border: none;
        }
      }
    }
  }
}
