/* ============================================================
  Colors
  ============================================================ */
$primary-1: #993366;
$primary-2: #2b8282;
$primary-3: #195a9b;
$accent-1: #993333;
$accent-2: #7a7a29;
$accent-3: #141414;
$accent-4: #eeeeee;
$accent-5: #d5e6e6;
$accent-6: #764976;
$status-1: #993333;
$status-2: #2b8282;
$status-3: #ffd500;