// ==========================================================================
// Colors
// ==========================================================================

// Color Names: http://chir.ag/projects/name-that-color/

// Primary
// ----------------------------------------------------------------------

$cerulean: #0098db;
$deepcerulean: #007db3; // Darker version of cerulean that passes WCAG AA for contrast when matched with white.
$robin: #00c7b2;
$teal: #009581;
$sunshade: #ffa02f;
$schoolbus: #fcd900;
$spruce: #37424a;
$westar: #dad7cb;
$white: #fff;

// Secondary
// ----------------------------------------------------------------------

$tulip: #e89e3b; // orange
$chateau: #a7abad; // light gray
$science: #005bbb; // blue
$shuttle: #5d676f; // gray
$gold: #fed100;
$picton: #5eb6e4;
$teal: #009581;
$pine: #007b69;
$riptide: #80e0d3;
$texasrose: #ffb652;
$manz: #f3ec7a;
$endeavour: #00549f; // blue
$mayor: #551a8b; // mayor's color

// Global
// ----------------------------------------------------------------------

$off-white: #f6f6f6;
$off-black: #222;
$mercury: #e4e9eb;
$alto: #dde2e5;
$gray: #656667;
$light-gray: #eaeeef;
$charcoal: #333332;
$pomegranate: #ee3228; // red
$purple: #551a8b;

// Social Networks
// ----------------------------------------------------------------------

$dribbble: #ea4c89;
$facebook: #4267b2;
$linkedin: #0077b5;
$rss: #f60;
$email: #ffdd68;
$instagram: #c13584;
$youtube: #f00;
$vimeo: #4bf;
$tumblr: #2c4762;
$pinterest: #c91517;
$googleplus: #c20806;
$flickr: #0063db;
$twitter: #000000;
$nextdoor: #8ed501;
$reddit: #ff5700;
$tiktok: #fe2c55;
$threads: #000;

// Alerts
// ----------------------------------------------------------------------

$success: #659f13;
$success-lt: #e8f9e6;
$error: #c51313;
$error-lt: #ffdad7;
$warning: #e28327;
$warning-lt: #fffceb;
$emergency: #fff;
$emergency-lt: #c51313;

// Font color
$selection-highlight: #f3ec7a;
