/* ============================================================
  Styles for fonts/typefaces.
  ============================================================ */

$headline: "Merriweather", serif;
$body-copy: "Open Sans", sans-serif;
$font-family: "Open Sans", sans-serif;
$font-family-secondary: "Merriweather", serif;
$font-family-tertiary: "Source Sans Pro", sans-serif;
$font-size: 16px;
$font-color: $spruce; //#0a0a0a
$link-color: $deepcerulean;
$link-color-visited: $purple; //default visited
