/*
 * General Mixins (put specific ones in component files where applicable)
*/

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin hide-on-mobile {
  display: none;

  @include respond-to('m') {
    display: flex;
  }
}

@mixin hide-on-desktop {
  @include respond-to('m') {
    display: none;
  }
}
