/* ============================================================
  Placeholders for repeat styles.
  ============================================================ */

%centered-layout {
  padding: 0 2rem;

  @include breakpoint(large) {
    padding: 2rem;
  }

  @include breakpoint(xlarge) {
    padding: 2rem 5rem;
  }

  @include breakpoint(infinite) {
    padding: 2rem 6.25rem;
  }
}
