/* ============================================================
  Placeholders for repeat styles.
  ============================================================ */

%centered-layout {
  padding: 0 2rem;

  @include respond-to('l') {
    padding: 2rem;
  }

  @include respond-to('xl') {
    padding: 2rem 5rem;
  }

  @include respond-to('xxl') {
    padding: 2rem 6.25rem;
  }
}



