{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
    <div class="site-branding">
      {{ drupal_entity('block', 'sitebranding')}}
    </div>
    <button class="mobile-menu-trigger primary-3 d-l-none">
        <span class="open"><i class="far fa-bars burger"></i><span class="txt">{{ 'Menu'|t }}</span></span>
        <span class="close"><i class="far fa-times close-x"></i><span class="txt">{{ 'Close'|t }}</span></span>
    </button>
    <div class="search-bar">
      <form class="form--search" action="/" method="post" id="search-block-form"><div>
        <div class="form-item form-type-textfield form-item-search-block-form">
         <input placeholder="Search sandiego.gov" type="text" id="edit-search-block-form--2" name="search_block_form" value="" class="form-text">
        </div>
        <div class="form-actions form-wrapper" id="edit-actions--2">
          <input class="btn form-submit" type="submit" id="edit-submit--3" name="op" value="Search"></div><input type="hidden" name="form_build_id" value="form-rjCVEeb6aXUgpBf5PMgU2O-3uoYBVFG6QkMolZFeLEg">
          </div>
        </div>
      </form>
    </div>
    <div class="main-menu">
      {{ drupal_entity('block', 'mainnavigation')}}
    </div>
{% endif %}
