{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <section class="header-first">
    <div class="grid-container">
      <div class="grid-x grid-margin-y align-middle">
        <div class="site-branding cell small-6 large-8">
          {{ drupal_entity('block', 'sitebranding')}}
        </div>
        <div class="cell small-6 hide-for-large text-right">
          <input type="checkbox" id="togglenav" class="menu-trigger visually-hidden" data-toggle="offCanvas">
          <label for="togglenav" class="burger-wrapper">
            <div class="hamburger"></div>
          </label>
        </div>
        <div class="search-bar cell small-4 show-for-large">
          <div class="input-group">
            <input class="input-group-field" type="text" placeholder="Search sandiego.gov">
            <div class="input-group-button">
              <input type="submit" class="button" value="Search">
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-margin-y hide-for-large">
        <div class="search-bar cell small-12 align-center">
          <div class="input-group">
          <input class="input-group-field" type="text">
          <div class="input-group-button">
            <input type="submit" class="button" value="Search">
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="header-second show-for-large">
    <div class="grid-container">
      <div class="grid-x">
        <div class="main-menu cell large-12">
          {{ drupal_entity('block', 'mainnavigation_mega_menu')}}

        </div>
      </div>
    </div>
  </section>

{% endif %}
