{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <section class="header-first">
    <div class="grid-container main-grid-container">
      <div class="grid-x grid-margin-y">
        <div class="site-branding cell small-9">
          {{ drupal_entity('block', 'sitebranding')}}
        </div>

        <div class="cell small-3 hide-for-medium text-right">
          <input type="checkbox" id="togglenav" class="menu-trigger visually-hidden" data-toggle="offCanvas">
          <label for="togglenav" class="burger-wrapper">
            <div class="hamburger"></div>
          </label>
        </div>
        <div class="search-bar cell medium-3">

          <div class="accessibility-toggle show-for-medium">
            <a href="#" data-open="accessibility-modal">Accessibility Tools</a>
          </div>

          <div class="languages">
            <div id="google_translate_element">
              <span>Translate </span><i class="icon-translate"></i>
            </div>
          </div>

          <form class="form--search">
            <div class="input-group">
              <input class="input-group-field" type="text" placeholder="Search sandiego.gov">
              <div class="input-group-submit">
                <input type="submit" class="btn form-submit" value="">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="header-second">
    <div class="grid-container main-grid-container show-for-medium">
      <div class="grid-x">
        <div class="main-menu cell medium-12">
          <div class="grid-x">
            <div class="cell home-button-container">
              <a href="/" class="home-button"><span class="hide-on-desktop" style="font-size:18px;text-transform:uppercase;font-weight:600;">Home</span><i class="icon-home hide-on-mobile"></i></a>
            </div>
            <div class="cell medium-auto">
              {{ drupal_entity('block', 'mainnavigation_mega_menu')}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="accessibility-modal" class="reveal accessibility-tools" title="Accessiblity Tools" data-reveal>
    <h3>Accessibility Tools</h3>
    <div>
      <a title="Turn audio/vision assist on/off" href="javascript:;" onclick="BrowseAloud.panel.toggleBar(true,event);return false;">Turn audio/vision assist on/off</a>
    </div>
    <div>
      <strong>Contrast:</strong>
      <span class="highcontrast">
        {{ drupal_entity('block', 'highcontrast')}}
      </span>
    </div>
    <div>
      <span><a title="More information on accessibility" href="/accessibility">More Info</a></span>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
