{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <section class="header-first">
    <div class="grid-container">
      <div class="grid-x grid-margin-y align-middle">
        <div class="site-branding cell small-6 medium-9">
          {{ drupal_entity('block', 'sitebranding')}}
        </div>
        <div class="cell small-6 hide-for-medium text-right">
          <input type="checkbox" id="togglenav" class="menu-trigger visually-hidden" data-toggle="offCanvas">
          <label for="togglenav" class="burger-wrapper">
            <div class="hamburger"></div>
          </label>
        </div>
        <div class="search-bar cell small-6 medium-3 show-for-medium">
          <form class="form--search">
            <div class="input-group">
              <input class="input-group-field" type="text" placeholder="Search sandiego.gov">
              <div class="input-group-submit">
                <input type="submit" class="btn form-submit" value="">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="header-second">
    <div class="grid-container show-for-medium">
      <div class="grid-x">
        <div class="main-menu cell medium-12">
          {{ drupal_entity('block', 'mainnavigation_mega_menu')}}
        </div>
      </div>
    </div>
    <div class="grid-x grid-margin-y hide-for-medium">
      <div class="search-bar cell small-12 align-center">
        <form class="form--search">
          <div class="input-group">
            <input class="input-group-field" type="text" placeholder="Search sandiego.gov">
            <div class="input-group-submit">
              <input type="submit" class="btn form-submit" value="">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

{% endif %}
