.button {
  border-radius: 4px;
}

#edit-header {
  width: 100%;
}

#edit-submit-content, #edit-submit-media, #edit-submit-media-library, #edit-submit-files {
  background-color: #0098db;
  color: white;
  border: none;
}
#edit-submit-content:hover, #edit-submit-media:hover, #edit-submit-media-library:hover, #edit-submit-files:hover {
  background-color: #0086c2;
}

#edit-header {
  padding: 1em 1em 0;
  background-color: #f6f6f6;
}

.layout-node-form #edit-actions {
  display: block;
  width: 100%;
  background-color: #f6f6f6;
  border-top: 1px solid #d1d4d3;
}
.layout-node-form #edit-actions #edit-delete {
  background-color: #c51313;
  border-color: #c51313;
  color: white;
  float: right;
}
.layout-node-form #edit-actions #edit-delete:hover {
  background-color: #ea2121;
  border-color: #ea2121;
}
.layout-node-form #edit-actions #edit-cancel {
  background-color: white;
}

#edit-node-bulk-form--2, #edit-media-bulk-form--2 {
  display: flex;
}
@media screen and (max-width: 37.49875em) {
  #edit-node-bulk-form--2, #edit-media-bulk-form--2 {
    flex-direction: column;
  }
}
#edit-node-bulk-form--2 #edit-actions--3, #edit-media-bulk-form--2 #edit-actions--3 {
  margin: 1.5em 0 0 1.5em;
}
@media screen and (max-width: 37.49875em) {
  #edit-node-bulk-form--2 #edit-actions--3, #edit-media-bulk-form--2 #edit-actions--3 {
    margin: 0 0 1em;
  }
}
#edit-node-bulk-form--2 #edit-actions--3 .button, #edit-media-bulk-form--2 #edit-actions--3 .button {
  background-color: white;
}

#edit-field-media-document-0-remove-button {
  margin-left: 1em;
}

.form-text, .form-select {
  background-color: white;
}

.js .dropbutton-multiple .dropbutton-widget {
  background-color: white;
}

body.path-feed div.dropbutton-widget {
  background-color: #0071b8 !important;
  margin-right: 2em;
}
body.path-feed div.layout-content {
  background: white !important;
  padding: 2rem;
}
body.path-feed div.layout-content div.field__label {
  font-weight: bold;
}

@media screen and (max-width: 37.49875em) {
  .form--inline .form-actions .button {
    margin: 0.5em 0 1em;
  }
}

.form-submit {
  background-color: white;
}

.fancytree-node {
  display: flex !important;
  align-items: center;
}
.fancytree-node .fancytree-icon {
  display: none;
}

.button--primary {
  background-color: #7cbc48;
}

#admin-toolbar-search-tab .form-type-search {
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 0 !important;
}

#admin-toolbar-search-input {
  height: 30px;
}

.term-reference-tree-button, .no-term-reference-tree-button {
  margin-right: 30px !important;
}

.no-term-reference-tree-button {
  background-color: white !important;
}

.form-actions {
  z-index: 100;
}

#edit-submit--2 {
  margin-bottom: 1rem;
}

fieldset#edit-path-wrapper, fieldset#edit-changed-wrapper {
  background-color: white;
  padding: 30px 0 0 0;
  margin-bottom: 0;
}
fieldset#edit-path-wrapper legend, fieldset#edit-changed-wrapper legend {
  text-transform: none;
  color: #333;
  top: 0.2rem;
}
fieldset#edit-path-wrapper .fieldset-wrapper .form-item, fieldset#edit-changed-wrapper .fieldset-wrapper .form-item {
  width: auto;
}

select#edit-path-operator {
  width: auto;
  min-width: unset;
}

.pager__items {
  text-align: center;
}

.toolbar-icon-menu-link-content47bd470e-6ae6-4092-abe1-8c44728a00e5::before {
  background-image: url(/themes/custom/sand/images/file.svg) !important;
}

.toolbar-icon-user::before {
  background-image: url(/themes/contrib/mediteran/images/icons/ffffff/person.svg) !important;
}

.views-table th, .views-table td {
  vertical-align: top;
}

#taxonomy-manager-vocabulary-terms-form fieldset {
  min-width: unset;
}
#taxonomy-manager-vocabulary-terms-form #edit-taxonomy-manager {
  width: 34%;
}
#taxonomy-manager-vocabulary-terms-form .ui-fancytree.fancytree-container > li {
  margin-bottom: 0;
}

.js td .dropbutton-multiple {
  padding-right: 6em;
}

.dropbutton-single .dropbutton-action a {
  background-color: white;
}

.form-item-keep-original-filename {
  display: none !important;
}

article.profile {
  background-color: white;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.no-term-reference-tree-button {
  visibility: hidden;
}

/* Hide Audio and Video from Bulk Upload form */
input#edit-media-type-audio, label[for=edit-media-type-audio],
input#edit-media-type-video, label[for=edit-media-type-video] {
  display: none !important;
}

/* grayout hidden fields in views */
.views-field-excluded {
  color: grey;
}

.mono {
  font-family: "Courier New", Monospace;
}

/* make sure that when in ckeditor5 the source is full height */
.ck-source-editing-area textarea {
  height: 100% !important;
}
/*# sourceMappingURL=admin.css.map */
