@import 'node_modules/foundation-sites/scss/util/util.scss';
@import 'node_modules/susy/sass/susy.scss';

// Breakpoints
$breakpoints: (
  "small": 0,
  "mobile": 320px,
  "mobile-landscape": 480px,
  "mobile-wide": 600px,
  "medium": 480px, //set to match mobile-landscape, originally 768px
  "medium-large": 1024px,
  "site": 960px,
  "site-constraint": 1200px,
  "large": 1280px,
  "xlarge": 1500px,
  "infinite": 9999px,
);

$print-breakpoint: large;
$breakpoint-classes: (small mobile mobile-landscape mobile-wide medium medium-large site site-constraint large xlarge infinite);

$global-width: 1200px;


$cerulean: #0098db;
$deepcerulean: #007db3; // Darker version of cerulean that passes WCAG AA for contrast when matched with white.
$robin: #00c7b2;
$teal: #009581;
$sunshade: #ffa02f;
$schoolbus: #fcd900;
$spruce: #37424a;
$westar: #dad7cb;
$white: #fff;
$off-white: #f6f6f6;
$off-black: #222;
$mercury: #e4e9eb;
$alto: #dde2e5;
$gray: #656667;
$light-gray: #eaeeef;

.button {
  border-radius: 4px;
}

#edit-header {
  width: 100%;
}

#edit-submit-content, #edit-submit-media, #edit-submit-media-library, #edit-submit-files {
  background-color: $cerulean;
  color: white;
  border: none;
  
  &:hover {
    background-color: darken($cerulean, 5%);
  }
}

#edit-header {
  padding: 1em 1em 0;
  background-color: $off-white;
}

.layout-node-form {
  #edit-actions {
    display: block;
    width: 100%;
    background-color: $off-white;
    border-top: 1px solid #d1d4d3;

    #edit-delete {
      background-color: #c51313;
      border-color: #c51313;
      color: white;
      float: right;

      &:hover {
        background-color: lighten(#c51313, 10%);
        border-color: lighten(#c51313, 10%);
      }
    }

    #edit-cancel {
      background-color: white;
    }
  }
}
#edit-node-bulk-form--2, #edit-media-bulk-form--2 {
  display: flex;

  @include breakpoint(mobile-landscape down) {
    flex-direction: column;
  }

  #edit-actions--3 {
    margin: 1.5em 0 0 1.5em;

    @include breakpoint(mobile-landscape down) {
      margin: 0 0 1em;
    }
    .button {
      background-color: white;
    }
  }
}

#edit-field-media-document-0-remove-button {
  margin-left: 1em;
}
.form-text, .form-select {
  background-color: white;
}

.js .dropbutton-multiple .dropbutton-widget {
  background-color: white;
}

body.path-feed {
  div.dropbutton-widget {
    background-color: #0071b8 !important;
    margin-right: 2em;
  }

  div.layout-content {
    background: white !important;
    padding: 2rem;
  
    div.field__label {
      font-weight: bold;
    }
  }
}

.form--inline .form-actions .button {
  @include breakpoint(mobile-landscape down) {
    margin: 0.5em 0 1em;
  }
}

.form-submit {
  background-color: white;
}

.fancytree-node {
  display: flex !important;
  align-items: center;

  .fancytree-icon {
    display: none;
  }
}

.button--primary {
  background-color: #7cbc48;
}

#admin-toolbar-search-tab .form-type-search {
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 0 !important;
}

#admin-toolbar-search-input {
  height: 30px;
}

.term-reference-tree-button, .no-term-reference-tree-button {
  margin-right: 30px !important;
}

.no-term-reference-tree-button {
  background-color: white !important;
}

.form-actions {
  z-index: 100;
}

#edit-submit--2 {
  margin-bottom: 1rem;
}

fieldset#edit-path-wrapper, fieldset#edit-changed-wrapper {
  background-color: white;
  padding: 30px 0 0 0;
  margin-bottom: 0;

  legend {
    text-transform: none;
    color: #333;
    top: 0.2rem;
  }

  .fieldset-wrapper .form-item {
    width: auto;
  }
}

select#edit-path-operator {
  width: auto;
  min-width: unset;
}

.pager__items {
  text-align: center;
}

.toolbar-icon-menu-link-content47bd470e-6ae6-4092-abe1-8c44728a00e5::before { 
  background-image: url(/themes/custom/sand/images/file.svg) !important;
}

.toolbar-icon-user::before {
  background-image: url(/themes/contrib/mediteran/images/icons/ffffff/person.svg) !important;
}

.views-table {
  th, td {
    vertical-align: top;
  }
}

#taxonomy-manager-vocabulary-terms-form {
  
  fieldset {
    min-width: unset;
  }
  
  #edit-taxonomy-manager {
    width: 34%;
  }

  .ui-fancytree.fancytree-container > li {
    margin-bottom: 0;
  }
}

.js td .dropbutton-multiple {
  padding-right: 6em;
}

.dropbutton-single .dropbutton-action a {
  background-color: white;
}

.form-item-keep-original-filename {
  display: none !important;
}

article.profile {
  background-color: white;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.no-term-reference-tree-button {
  visibility: hidden;
}

/* Hide Audio and Video from Bulk Upload form */
input#edit-media-type-audio, label[for="edit-media-type-audio"], 
input#edit-media-type-video, label[for="edit-media-type-video"] {
  display: none !important;
}

/* grayout hidden fields in views */
.views-field-excluded {
  color: grey;
}

.mono {
  font-family: 'Courier New', Monospace;
}

/* make sure that when in ckeditor5 the source is full height */
.ck-source-editing-area textarea {
  height: 100% !important;
}

/* take away the ul choices of square and circle */
button[data-cke-tooltip-text="Square"],
button[data-cke-tooltip-text="Circle"] {
  display: none !important;
}

/* Fix overflow for outreach2 add/edit form. Replaced the display: table. */
@media screen and (min-width: 1025px) {

  form table[id^="field-sections-outreach2-values"] {
      display: flow-root;
    }
}
