/* ============================================================
  Styles for bare HTML elements (h1, a, p, etc.)
  ============================================================ */
/* ============================================================
  Preprocessors, fonts, variables.
  These ITCSS naming conventions and structure are inspired by Lindsay Grizzard's article on Medium: https://medium.com/gusto-design/creating-the-perfect-css-system-fa38f5bcdd9e
  ============================================================ */
/* ============================================================
  Vendor-specific styles.
  ============================================================ */
/* ============================================================
  Breakpoints
  ============================================================ */
/* ============================================================
  Colors
  ============================================================ */
/* ============================================================
  Styles for fonts/typefaces.
  ============================================================ */
/* ============================================================
  Placeholders for repeat styles.
  ============================================================ */
/* ============================================================
  Styles for buttons.
  ============================================================ */
/* ============================================================
  Styles for heading typography.
  ============================================================ */
h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2.125rem;
}
@media (min-width: 444px) {
  h1 {
    font-size: 2.375rem;
  }
}

h2 {
  font-size: 1.875rem;
}
@media (min-width: 444px) {
  h2 {
    font-size: 2.125rem;
  }
}

h3 {
  font-size: 1.625rem;
}
@media (min-width: 444px) {
  h3 {
    font-size: 1.875rem;
  }
}

h4 {
  font-size: 1.375rem;
}
@media (min-width: 444px) {
  h4 {
    font-size: 1.75rem;
  }
}

h5 {
  font-size: 1.25rem;
}
@media (min-width: 444px) {
  h5 {
    font-size: 1.5rem;
  }
}

#block-paladin-page-title > h1 {
  margin: 0 0 0.5rem;
}
@media (min-width: 768px) {
  #block-paladin-page-title > h1 {
    max-width: 37.5rem;
  }
}
@media (min-width: 1024px) {
  #block-paladin-page-title > h1 {
    max-width: 50rem;
  }
}

/* ============================================================
  Styles for media.
  ============================================================ */
.embedded-entity {
  margin: 0.5rem 0;
}
.embedded-entity.align-left {
  margin: 0.5rem 0.5rem 0 0;
}
.embedded-entity figcaption {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.featured-image img {
  padding: 0.8rem 0 0.8rem 1.3rem;
}

/* ============================================================
  Styles for the pager.
  ============================================================ */
.pager {
  margin: 1.5rem 0;
}
.pager__items .pager__item {
  padding: 0.25rem 0.5rem !important;
}

/* ============================================================
  Styles for social icons.
  ============================================================ */
#block-share-and-print {
  margin: 1.5rem 0;
}
#block-share-and-print .share,
#block-share-and-print .print {
  font-size: 1.2rem;
  margin: 0 1em 0 0.5rem;
}
#block-share-and-print .share svg,
#block-share-and-print .print svg {
  position: relative;
  left: -0.2rem;
  top: 0.05rem;
}
#block-share-and-print .social-wrap .social-sharing-buttons {
  margin: 1rem 0;
}

/* ============================================================
  Styles for tables
  ============================================= */
table {
  width: 100%;
  font-size: 1rem !important;
}
table p {
  font-size: 1rem !important;
  margin: 0;
}
table tr td,
table tr th {
  padding: 0.5rem;
}

/* ============================================================
  Styles for general typography and links.
  ============================================================ */
a {
  color: #009581;
}
a:hover {
  text-decoration: underline;
}
a[href$=".pdf"] {
  display: inline-block;
  background: url("/core/themes/classy/images/icons/application-pdf.png") no-repeat left center;
  padding: 0 0 0 1.2rem;
}

p {
  margin: 0 0 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

#block-paladin-content ul,
#block-paladin-content ol {
  font-size: 1.125rem;
  line-height: 1.5;
}
#block-paladin-content ul li,
#block-paladin-content ol li {
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0 0 0 0.5rem;
}
#block-paladin-content ul li {
  list-style: disc;
}
#block-paladin-content ol li {
  list-style: decimal;
}
/*# sourceMappingURL=atoms.css.map */
