body {background-color:white;padding:10px;}
.accordion__drawer {display:block !important;}
ul li {
  margin: 0 0 0.5em 0 !important;
}
h2 {
  font-size: 1.6875rem !important;
}

h3 {
  font-size: 1.3125rem !important;
}

h4 {
  font-size: 1rem !important;
  font-weight: bold;
}

h5 {
  font-size: 1rem !important;
}

ul, ol {
  li {
    margin: 0 0 0.5rem 1rem;
    padding: 0;
  }
}

a {
  text-decoration: underline;
}

.accordion {
  border: 1px solid #a7abad !important;
}

i {
  font-style: normal !important;
}