/* ============================================================
  Resets/normalizing files.
  ============================================================ */
/* ============================================================
  Preprocessors, fonts, variables.
  These ITCSS naming conventions and structure are inspired by Lindsay Grizzard's article on Medium: https://medium.com/gusto-design/creating-the-perfect-css-system-fa38f5bcdd9e
  ============================================================ */
/* ============================================================
  Vendor-specific styles.
  ============================================================ */
/* ============================================================
  Breakpoints
  ============================================================ */
/* ============================================================
  Colors
  ============================================================ */
/* ============================================================
  Styles for fonts/typefaces.
  ============================================================ */
/* ============================================================
  Placeholders for repeat styles.
  ============================================================ */
.layout-container {
  padding: 0 2rem;
}
@media (min-width: 1024px) {
  .layout-container {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .layout-container {
    padding: 2rem 5rem;
  }
}
@media (min-width: 1440px) {
  .layout-container {
    padding: 2rem 6.25rem;
  }
}

/* ============================================================
  Styles for layout structure, including a column system!
  ============================================================ */
.not-found .layout-container {
  margin: 0 3rem;
}
.layout-container .content-top {
  margin: 0 0 1.5rem;
  position: relative;
}
@media (min-width: 1024px) {
  .layout-container .layout-sidebar-second {
    margin: 0 0 0 1.5rem;
    max-width: 800px;
  }
}
.layout-container .layout-sidebar-first {
  margin: 1.5rem 0 0;
}
@media (min-width: 768px) {
  .layout-container .layout-sidebar-first {
    margin: 0 1rem 0 0;
  }
}
@media (min-width: 1024px) {
  .layout-container .layout-sidebar-first {
    margin: 0 1.5rem 0 0;
  }
}
.layout-container .layout-sidebar-first {
  order: 2;
}
@media (min-width: 1024px) {
  .layout-container .layout-sidebar-first {
    order: 1;
  }
}
.layout-container .layout-sidebar-first ~ .layout-content {
  order: 1;
}
@media (min-width: 1024px) {
  .layout-container .layout-sidebar-first ~ .layout-content {
    max-width: 73%;
    order: 2;
  }
}
.layout-container .layout-sidebar-second {
  order: 2;
}
@media (min-width: 1024px) {
  .layout-container .layout-sidebar-second {
    order: 2;
  }
}
.layout-container .layout-sidebar-second ~ .layout-content {
  order: 1;
}
@media (min-width: 1024px) {
  .layout-container .layout-sidebar-second ~ .layout-content {
    order: 1;
  }
}

.row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .row {
    flex-flow: row wrap;
    justify-content: start;
  }
  .row.no-justify {
    justify-content: flex-start;
  }
}

.col {
  flex: 1;
}
@media (min-width: 1024px) {
  .col.percent-25 {
    flex: 0 0 auto;
    min-width: 24%;
    width: calc(25% - 0.75rem);
  }
}
@media (min-width: 1024px) {
  .col.percent-33 {
    flex: 0 0 auto;
    min-width: 32%;
    width: calc(33% - 0.75rem);
  }
}
@media (min-width: 444px) {
  .col.percent-50 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .col.percent-50 {
    flex: 0 0 auto;
    width: calc(50% - 1rem);
  }
}

/* ============================================================
  Reset styles.
  ============================================================ */
body {
  font-size: 1rem;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
/*# sourceMappingURL=generic.css.map */
