/* ============================================================
  Utilities and helper classes.
  ============================================================ */
/* ============================================================
  Preprocessors, fonts, variables.
  These ITCSS naming conventions and structure are inspired by Lindsay Grizzard's article on Medium: https://medium.com/gusto-design/creating-the-perfect-css-system-fa38f5bcdd9e
  ============================================================ */
/* ============================================================
  Vendor-specific styles.
  ============================================================ */
/* ============================================================
  Breakpoints
  ============================================================ */
/* ============================================================
  Colors
  ============================================================ */
/* ============================================================
  Styles for fonts/typefaces.
  ============================================================ */
/* ============================================================
  Placeholders for repeat styles.
  ============================================================ */
/* ============================================================
  Admin helpers for when you're logged into Paladin.
  ============================================================ */
#block-paladin-local-tasks ul {
  margin: 1rem 0; }
  #block-paladin-local-tasks ul li {
    top: .1rem; }
    #block-paladin-local-tasks ul li a {
      padding: .5rem 1rem;
      font-size: 1.2rem; }

.msg {
  font-size: 1.4rem;
  padding: .5rem 1rem; }

.user-login-form .js-form-item {
  margin: 1rem 0; }

/* ============================================================
  Alignment and display helpers.
  ============================================================ */
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.block {
  display: block; }

.padding-top-05 {
  padding: .5rem 0 0 0; }

.padding-bottom-05 {
  padding: 0 0 .5rem; }

.padding-1-5 {
  padding: 1.5rem; }

.margin-bottom-025 {
  margin: 0 0 .25rem; }

.margin-bottom-05 {
  margin: 0 0 .5rem; }

.margin-bottom-1-5 {
  margin: 0 0 1.5rem; }

.margin-top-1-5 {
  margin: 1.5rem 0 0; }

.margin-top-075 {
  margin: .75rem 0 0; }

.margin-075 {
  margin: .75rem 0; }

/* ============================================================
  Styles for background colors/gradients, opacity, and type color.
  ============================================================ */
.primary-1 {
  color: #993366; }
  .primary-1-bg {
    background: #993366; }
  .primary-1-bg.bg-level-2 {
    background: rgba(153, 51, 102, 0.9); }
  .primary-1-bg.bg-level-3 {
    background: rgba(153, 51, 102, 0.5); }
  .primary-1-bg.bg-level-4 {
    background: rgba(153, 51, 102, 0.2); }

.primary-2 {
  color: #2b8282; }
  .primary-2-bg {
    background: #2b8282; }
  .primary-2-bg.bg-level-2 {
    background: rgba(43, 130, 130, 0.9); }
  .primary-2-bg.bg-level-3 {
    background: rgba(43, 130, 130, 0.5); }
  .primary-2-bg.bg-level-4 {
    background: rgba(43, 130, 130, 0.2); }

.primary-3 {
  color: #195a9b; }
  .primary-3-bg {
    background: #195a9b; }
  .primary-3-bg.bg-level-2 {
    background: rgba(25, 90, 155, 0.9); }
  .primary-3-bg.bg-level-3 {
    background: rgba(25, 90, 155, 0.5); }
  .primary-3-bg.bg-level-4 {
    background: rgba(25, 90, 155, 0.2); }

.accent-1 {
  color: #993333; }
  .accent-1-bg {
    background: #993333; }
  .accent-1-bg.bg-level-2 {
    background: rgba(153, 51, 51, 0.9); }
  .accent-1-bg.bg-level-3 {
    background: rgba(153, 51, 51, 0.5); }
  .accent-1-bg.bg-level-4 {
    background: rgba(153, 51, 51, 0.2); }

.accent-2 {
  color: #7a7a29; }
  .accent-2-bg {
    background: #7a7a29; }
  .accent-2-bg.bg-level-2 {
    background: rgba(122, 122, 41, 0.9); }
  .accent-2-bg.bg-level-3 {
    background: rgba(122, 122, 41, 0.5); }
  .accent-2-bg.bg-level-4 {
    background: rgba(122, 122, 41, 0.2); }

.accent-3 {
  color: #141414; }
  .accent-3-bg {
    background: #141414; }
  .accent-3-bg.bg-level-2 {
    background: rgba(20, 20, 20, 0.9); }
  .accent-3-bg.bg-level-3 {
    background: rgba(20, 20, 20, 0.5); }
  .accent-3-bg.bg-level-4 {
    background: rgba(20, 20, 20, 0.2); }

.accent-4 {
  color: #eeeeee; }
  .accent-4-bg {
    background: #eeeeee; }
  .accent-4-bg.bg-level-2 {
    background: rgba(238, 238, 238, 0.9); }
  .accent-4-bg.bg-level-3 {
    background: rgba(238, 238, 238, 0.5); }
  .accent-4-bg.bg-level-4 {
    background: rgba(238, 238, 238, 0.2); }

.accent-5 {
  color: #d5e6e6; }
  .accent-5-bg {
    background: #d5e6e6; }
  .accent-5-bg.bg-level-2 {
    background: rgba(213, 230, 230, 0.9); }
  .accent-5-bg.bg-level-3 {
    background: rgba(213, 230, 230, 0.5); }
  .accent-5-bg.bg-level-4 {
    background: rgba(213, 230, 230, 0.2); }

.accent-6 {
  color: #764976; }
  .accent-6-bg {
    background: #764976; }
  .accent-6-bg.bg-level-2 {
    background: rgba(118, 73, 118, 0.9); }
  .accent-6-bg.bg-level-3 {
    background: rgba(118, 73, 118, 0.5); }
  .accent-6-bg.bg-level-4 {
    background: rgba(118, 73, 118, 0.2); }

.status-1 {
  color: #993333; }
  .status-1-bg {
    background: #993333; }
  .status-1-bg.bg-level-2 {
    background: rgba(153, 51, 51, 0.9); }
  .status-1-bg.bg-level-3 {
    background: rgba(153, 51, 51, 0.5); }
  .status-1-bg.bg-level-4 {
    background: rgba(153, 51, 51, 0.2); }

.status-2 {
  color: #2b8282; }
  .status-2-bg {
    background: #2b8282; }
  .status-2-bg.bg-level-2 {
    background: rgba(43, 130, 130, 0.9); }
  .status-2-bg.bg-level-3 {
    background: rgba(43, 130, 130, 0.5); }
  .status-2-bg.bg-level-4 {
    background: rgba(43, 130, 130, 0.2); }

.status-3 {
  color: #ffd500; }
  .status-3-bg {
    background: #ffd500; }
  .status-3-bg.bg-level-2 {
    background: rgba(255, 213, 0, 0.9); }
  .status-3-bg.bg-level-3 {
    background: rgba(255, 213, 0, 0.5); }
  .status-3-bg.bg-level-4 {
    background: rgba(255, 213, 0, 0.2); }

.gradient-1 {
  background: #993366;
  background: -moz-linear-gradient(90deg, #993366, #993333);
  background: -webkit-linear-gradient(90deg, #993366, #993333);
  background: linear-gradient(90deg, #993366, #993333); }

.gradient-2 {
  background: #195a9b;
  background: -moz-linear-gradient(90deg, #195a9b, #2b8282);
  background: -webkit-linear-gradient(90deg, #195a9b, #2b8282);
  background: linear-gradient(90deg, #195a9b, #2b8282); }

.gradient-3 {
  background: #993333;
  background: -moz-linear-gradient(90deg, #993333 0%, #993366 33%, #7a7a29 66%, #2b8282 100%);
  background: -webkit-linear-gradient(90deg, #993333 0%, #993366 33%, #7a7a29 66%, #2b8282 100%);
  background: linear-gradient(90deg, #993333 0%, #993366 33%, #7a7a29 66%, #2b8282 100%); }

/* ============================================================
  Typographic helpers.
  ============================================================ */
.bold {
  font-weight: 600; }

.size-18 {
  font-size: 1.125rem; }

/*# sourceMappingURL=helpers.css.map */
