
*{
  background-color:black !important;
  background-image:none !important;
  color:white !important;
  line-height:1.5em !important;
  text-shadow: none !important;
}

a, a *{
  background-color:black !important;
  color:yellow !important;
  text-decoration:underline !important;
}
  a:hover, a:hover *{
    background-color:yellow !important;
    color:black !important;
    text-decoration:underline !important;
    text-decoration:none !important;
  }

input{
  background-color:white !important;
  color:black !important;
}

input[type=submit],
input[type=button],
button{
  background-color: yellow !important;
  color: black !important;
}
  input[type=submit]:hover,
  input[type=button]:hover,
  button:hover{
    text-decoration:underline !important;
  }