/* ============================================================
  Styles for media.
  ============================================================ */

.embedded-entity {
  margin: 0.5rem 0;

  &.align-left {
    margin: 0.5rem 0.5rem 0 0;
  }

  figcaption {
    font-size: 0.9rem;
    margin: 0.25rem 0;
  }
}

.featured-image {
  img {
    padding: 0.8rem 0 0.8rem 1.3rem;
  }
}

figure {
  img {
    margin-bottom: 0;
  }
}

figcaption,
.figcaption {
  background-color: #e4e9eb;
  padding: 0.5em;
  font-style: italic;

  p {
    margin-bottom: 0;
  }

  .photo-credit {
    padding: 0 0 0.5em;
  }

  @include rem("font-size", 13px);
}

// Videos
.card--video {
  position: relative;

  i {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(255 255 255 / 75%);

    @include rem("font-size", 48px);
  }

  img {
    width: 100%;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;

  //padding-top: 30px;
  //height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

.fb_iframe_widget iframe {
  border-radius: 4px;
}

/* Images
   ========================================================================== */

.img-left { /* apply to element containing img, typically a <div> or <p> */
  @include breakpoint(medium down) {
    width: 100% !important;
    text-align: center;
    margin-bottom: 1em;
  }

  @include breakpoint(medium) {
    float: left;
    margin: 0 1em 1em 0;
  }
}

.img-right { /* apply to element containing img, typically a <div> or <p> */
  @include breakpoint(medium down) {
    width: 100% !important;
    text-align: center;
    margin-bottom: 1em;
  }

  @include breakpoint(medium) {
    float: right;
    margin: 0 0 1em 1em;
  }
}

.photo-credit {
  text-align: right;
  line-height: 1.5;
  font-size: 0.6rem;
  padding: 0.5em;
  margin: 0;
}

/* .field--name-field-media-oembed-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 61%;
} */

/* Then style the iframe to fit in the container div with full height and width */

/* .media-oembed-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
} */

/* cold case photos */
.masonry-gallery {
  > .field--type-entity-reference {
    column-count: 2;
    column-count: 2;
    column-count: 2;
    column-gap: 10px;
    column-gap: 10px;
    column-gap: 10px;

    .field__item,
    article,
    img {
      width: 100%;
      display: block;
    }

    .field__item {
      margin-bottom: 10px;
    }
  }

  &.col-3 {
    .field--type-entity-reference {
      column-count: 3;
      column-count: 3;
      column-count: 3;
    }
  }

  &.col-4 {
    .field--type-entity-reference {
      column-count: 4;
      column-count: 4;
      column-count: 4;
    }
  }
}

.caption > figcaption {
  text-align: center;
}
