/* ============================================================
  Styles for media.
  ============================================================ */
.embedded-entity {
  margin: .5rem 0;

  &.align-left {
    margin: .5rem .5rem 0 0;
  }

  figcaption {
    font-size: .9rem;
    margin: .25rem 0;
  }
}

.featured-image {
  img {
    padding: .8rem 0 .8rem 1.3rem;
  }
}
