/* ============================================================
  Styles for media.
  ============================================================ */

.embedded-entity {
  margin: 0.5rem 0;

  &.align-left {
    margin: 0.5rem 0.5rem 0 0;
  }

  figcaption {
    font-size: 0.9rem;
    margin: 0.25rem 0;
  }
}

.featured-image {
  img {
    padding: 0.8rem 0 0.8rem 1.3rem;
  }
}
