.message {
  padding: 1em;
  border-radius: 4px;

  p {
    margin: 0;
  }

  a {
    line-height: 1;
    text-decoration: none;
  }

  i {
    vertical-align: middle;
    @include rem('font-size', 24px);
  }

  &.message--success {
    background-color: $success-lt;

    i {
      color: $success;
    }
  }

  &.message--warning {
    background-color: $warning-lt;

    i {
      color: $warning;
    }
  }

  &.message--error {
    background-color: $error-lt;

    i {
      color: $error;
    }
  }

  &.message--emergency {
    background-color: $emergency-lt;
    font-size: 1.375rem;
    padding: .8em 1em;

    i, a, p {
      color: $emergency;
    }

    a {
      text-decoration: underline;
    }

    i {
      font-size: 2.125rem;
    }
  }
}

/* New set of classes. Requested by Ron */
.message--success {
  background-color: $success-lt;

  i {
    color: $success;
  }
}

.message--warning {
  background-color: $warning-lt;

  i {
    color: $warning;
  }
}

.message--error {
  background-color: $error-lt;

  i {
    color: $error;
  }
}

.message--emergency {
  background-color: $emergency-lt;
  font-size: 1.375rem;
  padding: .8em 1em;

  i, a, p {
    color: $emergency;
  }

  a {
    text-decoration: underline;
  }

  i {
    font-size: 2.125rem;
  }
}
