.message {
  padding: 1em;
  border-radius: 4px;

  p {
    margin-bottom: 0.75em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    line-height: 1;
    text-decoration: none;
  }

  i {
    vertical-align: middle;
    margin-right: 0.5em;

    @include rem("font-size", 24px);
  }
}

.message--success {
  background-color: $success-lt;
  color: $spruce;

  i {
    color: #195a16;
  }
}

.message--warning {
  background-color: $warning-lt;
  color: $spruce;

  i {
    color: $spruce;
  }
}

.message--error {
  background-color: $error-lt;
  color: $spruce;

  i {
    color: #940500;
  }
}

.alert-success {
  background-color: $success-lt;
  color: #195a16;

  i {
    color: #195a16;
  } 
}

.alert-warning {
  background-color: $warning-lt;
  color: $font-color;

  i {
    color: $font-color;
  }
}

.alert-error {
  background-color: $error-lt;
  color: #940500;

  i {
    color: #940500;
  } 
}

.message--emergency,
.alert-emergency {
  background-color: $emergency-lt;
  font-size: 1.375rem;
  padding: 0.8em 1em;
  color: white;

  i,
  a,
  p {
    color: white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: white;
    }
  }

  i {
    font-size: 2.125rem;
  }
}

.messages {
  max-width: $global-width;
  margin: 1rem auto 0;

  @include breakpoint(mobile-landscape down) {
    margin: 1rem;
  }
}

.path-admin .messages.messages--,
.messages.messages-- {
  &status,
  &warning,
  &error {
    position: relative;
    z-index: 1;
    margin-top: 1em;
    color: $font-color;
    border-radius: 10px;
  }

  &status {
    border: 1px solid #74b356;
  }

  &warning {
    border: 1px solid #e29700;
  }

  &error {
    border: 1px solid #e32700;
  }
}
