/* Pagination
   ========================================================================== */
   .pager {
    padding: 0;
    list-style: none;
    text-align: center;
  
    li {
      margin: 0 .5em;
      font-weight: bold;
      display: inline-block;
      @include breakpoint(medium) {
        @include rem('font-size', 13px);
      }
    }
  
    a {
      color: $cerulean;
      text-decoration: none;
      text-transform: lowercase;
  
      &:hover {
        color: darken($cerulean, 15%);
      }
    }

    &__items {

      .pager__item {
        padding: 0.25rem 0.5rem;
      }
    }
  }
