/* Pagination
   ========================================================================== */
   .pager {
    padding: 0;
    list-style: none;
    text-align: center;
  
    li {
      margin: 0;
      font-weight: bold;
      display: inline-block;
      @include breakpoint(medium) {
        @include rem('font-size', 13px);
      }
    }
  
    a {
      color: $cerulean;
      text-decoration: none;
      text-transform: lowercase;
  
      &:hover {
        color: darken($cerulean, 15%);
      }
    }

    &__items {
      text-align: center;
      padding-bottom: 2rem;

      .pager__item {
        padding: 0;

        &.is-active {
          background-color: transparent;
          color: $spruce;
          border:none;
        
          a{
            color: $spruce;
          }
        }

        a {
          background-color: transparent;
          border:none;
        }
      }
    }
  }
