/* ============================================================
  Styles for social icons.
  ============================================================ */

  #block-share-and-print {
    margin: 1.5rem 0;

    .share,
    .print {
      font-size: 1.2rem;
      margin: 0 1em 0 .5rem;
      
      svg {
        position: relative;
        left: -.2rem;
        top: .05rem;
      }
    }

    .social-wrap {
  
      .social-sharing-buttons {
        margin: 1rem 0;
      }
    }
  }