/* Tables
========================================================================== */

table:not(.calendar-view-table) {
  margin-top: 0;
  margin-bottom: 1em;
  background: white;
  color: $spruce;
  border-left: 1px solid #adafaf;
  border-bottom: 1px solid #adafaf;
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
  
  thead, tbody, th, td {
    border: none;
    color: $spruce;
  }

  &.t-no-head {
    border-top: 1px solid #adafaf;
  }

  &.t-auto-width {
    width: auto;
  }

  &.t-no-border {
    border: none !important;

    * {
      border: none !important;
    }
  }

  &.t-no-outer-border {
    border: none !important;

    thead th {
      border-top: none !important;
    }

    thead th, tbody td {
      &:last-child {
        border-right: none !important;
      }
    }
  }

  &.t-inside-border {

    thead th {
      border-right: 1px solid #adafaf;
    }

    tbody td {
      border-right: 1px solid rgba(55, 66, 74, 0.3);
    }

    thead th, tbody td {
      &:last-child {
        border-right: 1px solid #adafaf;
      }
    }

    thead tr:not(:first-child) th {
      border-top: 1px solid #adafaf;
    }
  }

  thead {
    tr {
      &:first-child {
        th {
          background: rgba(55, 66, 74, 0.2);
        }
      }

      &:not(:first-child) {
        th {
          border-top: none;

          &:not(:last-child) {
            border-right: none;
          }
        }
      }
    }
    
    th {
      padding: 0.5em 1em;
      text-align: left;
      word-wrap: break-word;
      font-family: $font-family-secondary;
      border-top: 1px solid #adafaf;
      border-bottom: 1px solid #adafaf;
      background: rgba(55, 66, 74, 0.1);
      
      &:last-child {
        border-right: 1px solid #adafaf;
      }

      &.th-no-br {
        border-right: none !important;
      }

      &.th-no-bb {
        border-bottom: none !important;
      }
    }
  }

  &.t-head-fixed {
    thead {
      position: sticky;
      top: 0;
    }
  }
  
  tbody{
    background: white ;

    tr {
      //line-height: 1.6;
      border-top: 0;
      border-bottom: 0;
  
      &:first-child {
        border-top: 0;
      }
  
      &:nth-child(even) {
        background: rgba(55, 66, 74, 0.1);
      }
      
      &:nth-child(odd) {
        background: white;
      }
  
      &.subheading,
      &:first-child {
        background: transparent;
      }
  
      &.subheading {
        color: 55, 66, 74;
        font-family: $font-family;
  
        td {
          padding-left: 0;
          // @include breakpoint(medium) {
          //   line-height: 2.5;
          //   @include rem("font-size", 16px);
          // }
        }
      }

      td {
        //line-height: 1.8;
        padding: 1em;
        vertical-align: top;
        font-weight: 400;
    
        &:first-child {
          padding-left: 1em;
        }
    
        &:last-child {
          border-right: 1px solid #adafaf;
        }
    
        &.table--break {
          padding-left: 0;
        }
      }
  
      &.valign-m {
        td {
          vertical-align: middle !important;
        }
      }
  
      &.valign-b {
        td {
          vertical-align: bottom !important;
        }
      }
    }
  }

  &.ui-datepicker-calendar {
    tr:nth-child(even) {
      background: #f6f6f6;
    }

    td:first-child {
      padding-left: 0;
    }
  }

  // Other colors...

  &.t-blue {
  
    thead {
      tr {
        &:first-child {
          th {
            background: rgba(0, 84, 159, 0.2);
          }
        }
      }
      
      th {
        background: rgba(0, 84, 159, 0.1);
      }
    }
    
    tbody{
      background: white ;
  
      tr {
    
        &:nth-child(even) {
          background: rgba(0, 84, 159, 0.1);
        }
      }
    }

  }

  &.t-green {
  
    thead {
      tr {
        &:first-child {
          th {
            background: rgba(0, 123, 105, 0.2);
          }
        }
      }
      
      th {
        background: rgba(0, 123, 105, 0.1);
      }
    }
    
    tbody{
      background: white ;
  
      tr {
    
        &:nth-child(even) {
          background: rgba(0, 123, 105, 0.1);
        }
      }
    }

  }

  &.t-dark-border {
    border-left: 1px solid $spruce;
    border-bottom: 1px solid $spruce;
  
    &.t-inside-border {
  
      thead th {
        border-right: 1px solid $spruce;
      }
  
      thead th, tbody td {
        &:last-child {
          border-right: 1px solid $spruce;
        }
      }
  
      thead tr:not(:first-child) th {
        border-top: 1px solid $spruce;
      }
    }
  
    thead {
      th {
        border-top: 1px solid $spruce;
        border-bottom: 1px solid $spruce;
        
        &:last-child {
          border-right: 1px solid $spruce;
        }
      }
    }
    tbody{
      tr {
        td {
          &:last-child {
            border-right: 1px solid $spruce;
          }
        }
      }
    }
  }
}

.table--thirds {
  p {
    margin: 0;
    //line-height: 1.7;
  }
}
