.block-local-tasks-block {
  margin-bottom: 1rem;

  .local-tasks {
    &-tabs {
      background-color: transparent;
      border-bottom: solid 2px white;
      display: flex;
      justify-content: start;
      margin: 0;

      li {
        width: auto;

        &.is-active {
          background-color: $white;
        }
      }
    }
  }

  .tabs {
    background-color: transparent;
    border: none;
  }
}
