/* Tables
========================================================================== */

table:not(.calendar-view-table) {
  margin-top: 0;
  margin-bottom: 1em;
  background: white;
  color: $font-color;
  border-left: 1px solid #d1d4d3;
  border-bottom: 1px solid #d1d4d3;
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  thead,
  tbody,
  th,
  td {
    border: none;
    color: $font-color;
  }

  thead {
    tr {
      &:first-child {
        th {
          background: rgb(55 66 74 / 10%);
        }
      }

      &:not(:first-child) {
        th {
          border-top: none;

          &:last-child {
            border-right: none !important;
          }
        }
      }

      th:last-child {
        border-right: 1px solid #d1d4d3;
      }
    }

    th {
      padding: 0.5em 1em;
      text-align: left;
      word-wrap: break-word;
      font-family: $font-family-secondary;
      border-top: 1px solid #d1d4d3;
      border-bottom: 1px solid #d1d4d3;
      background: rgb(55 66 74 / 10%);

      /* &:last-child {
        border-right: 1px solid #d1d4d3;
      } */
    }

    th[colspan]:not([colspan="1"]) {
      border-bottom: 1px solid $spruce !important;
    }
  }

  &.t-head-fixed {
    thead {
      position: sticky;
      top: 0;
    }
  }

  tbody {
    background: white;

    tr {
      //line-height: 1.6;
      border-top: 0;
      border-bottom: 0;

      &:first-child {
        border-top: 0;
      }

      &:nth-child(even) {
        background: rgb(55 66 74 / 5%);
      }

      &:nth-child(odd) {
        background: white;
      }

      &.subheading,
      &:first-child {
        background: transparent;
      }

      &.subheading {
        color: 55, 66, 74;
        font-family: $font-family;

        td {
          padding-left: 0;

          // @include breakpoint(medium) {
          //   line-height: 2.5;
          //   @include rem("font-size", 16px);
          // }
        }
      }

      td {
        //line-height: 1.8;
        padding: 1em;
        vertical-align: top;
        font-weight: 400;

        &:first-child {
          padding-left: 1em;
        }

        &:last-child {
          border-right: 1px solid #d1d4d3;
        }

        &.table--break {
          padding-left: 0;
        }
      }

      &.valign-m {
        td {
          vertical-align: middle !important;
        }
      }

      &.valign-b {
        td {
          vertical-align: bottom !important;
        }
      }
    }
  }

  &.t-no-head {
    border-top: 1px solid #d1d4d3;
  }

  &.t-auto-width {
    width: auto;
  }

  &.t-no-border {
    border: none !important;

    * {
      border: none !important;
    }
  }

  &.t-no-outside-border {
    border: none !important;

    thead > tr:first-child th {
      border-top: none !important;
    }

    thead th,
    tbody td {
      &:last-child {
        border-right: none !important;
      }
    }
  }

  &.t-inside-border {
    thead th {
      border-right: 1px solid #d1d4d3;
    }

    thead th[colspan]:not([colspan="1"]) {
      border-bottom: none !important;
    }

    tbody td {
      border-top: 1px solid #d1d4d3;
      border-right: 1px solid #d1d4d3;
    }

    thead th,
    tbody td {
      &:last-child {
        border-right: 1px solid #d1d4d3;
      }
    }

    thead tr:not(:first-child) th {
      border-top: 1px solid #d1d4d3;
      border-right: 1px solid #d1d4d3 !important;
    }

    tbody tr:first-child td {
      border-top: none;
    }
  }

  &.ui-datepicker-calendar {
    tr:nth-child(even) {
      background: #f6f6f6;
    }

    td:first-child {
      padding-left: 0;
    }
  }

  // Other colors...

  &.t-blue {
    thead {
      tr {
        th {
          background: rgb(0 152 219 / 20%);
        }
      }
    }

    tbody {
      background: white;

      tr {
        &:nth-child(even) {
          background: rgb(0 152 219 / 8%);
        }
      }
    }
  }

  &.t-green {
    thead {
      tr {
        th {
          background: rgb(0 149 129 / 20%);
        }
      }
    }

    tbody {
      background: white;

      tr {
        &:nth-child(even) {
          background: rgb(0 149 129 / 8%);
        }
      }
    }
  }

  &.t-white {
    thead {
      tr {
        th {
          background: white;
        }
      }
    }

    tbody {
      background: white;

      tr {
        &:nth-child(even) {
          background: white;
        }
      }
    }

    &.t-inside-border {
      thead th {
        border-right: 1px solid #d1d4d3;
      }

      tbody td {
        border-top: none;
        border-right: 1px solid #d1d4d3;
        border-bottom: 1px solid #d1d4d3;
      }

      tbody tr:last-child td {
        border-bottom: none;
      }

      thead th,
      tbody td {
        &:last-child {
          border-right: 1px solid #d1d4d3;
        }
      }

      thead tr:not(:first-child) th {
        border-top: 1px solid #d1d4d3;
        border-right: 1px solid #d1d4d3 !important;
      }
    }
  }

  &.t-blue,
  &.t-green {
    border-left: 1px solid #adafaf;
    border-bottom: 1px solid #adafaf;

    thead {
      tr {
        th:last-child {
          border-right: 1px solid #adafaf;
        }
      }

      th {
        border-top: 1px solid #adafaf;
        border-bottom: 1px solid #adafaf;

        /* &:last-child {
          border-right: 1px solid #adafaf;
        } */
      }
    }

    tbody {
      tr {
        td {
          &:last-child {
            border-right: 1px solid #adafaf;
          }
        }
      }
    }

    &.t-no-head {
      border-top: 1px solid #adafaf;
    }

    &.t-inside-border {
      thead th {
        border-right: 1px solid #adafaf;
      }

      tbody td {
        border-top: 1px solid #adafaf;
        border-right: 1px solid #adafaf;
      }

      thead th,
      tbody td {
        &:last-child {
          border-right: 1px solid #adafaf;
        }
      }

      thead tr:not(:first-child) th {
        border-top: 1px solid #adafaf;
        border-right: 1px solid #adafaf !important;
      }

      tbody tr:first-child td {
        border-top: none;
      }
    }
  }

  &.t-dark-border {
    border-left: 1px solid $spruce;
    border-bottom: 1px solid $spruce;

    &.t-inside-border {
      thead th {
        border-right: 1px solid $spruce;
      }

      thead th[colspan]:not([colspan="1"]) {
        border-bottom: none !important;
      }

      tbody td {
        border-right: 1px solid $spruce;
      }

      thead th,
      tbody td {
        &:last-child {
          border-right: 1px solid $spruce;
        }
      }

      thead tr:not(:first-child) th {
        border-top: 1px solid $spruce;
        border-right: 1px solid $spruce !important;
      }

      &.t-white {
        tbody tr td {
          border-bottom: 1px solid $spruce;
        }

        tbody tr:last-child td {
          border-bottom: none;
        }
      }
    }

    thead {
      th {
        border-top: 1px solid $spruce;
        border-bottom: 1px solid $spruce;

        &:last-child {
          border-right: 1px solid $spruce;
        }
      }
    }

    tbody {
      tr {
        td {
          &:last-child {
            border-right: 1px solid $spruce;
          }
        }
      }
    }
  }
}

.table--thirds {
  p {
    margin: 0;

    //line-height: 1.7;
  }
}

th {
  &.th-no-br {
    border-right: none !important;
  }

  &.th-add-br {
    border-right: 1px solid #d1d4d3 !important;
  }

  &.th-no-bb {
    border-bottom: none !important;
  }
}

.datepicker-years {
  thead {
    background-color: white;
  }

  table.table-condensed {
    border: none !important;

    thead tr {
      th.datepicker-switch {
        border-bottom: none !important;
        text-align: center;
      }

      th.next {
        text-align: right;
      }
    }

    thead tr th,
    tbody tr td {
      border: none !important;
      background-color: white !important;
      padding: 0;
    }

    tbody tr td {
      span.focused {
        background-color: white;
      }

      span.active.focused {
        color: black;
        background-color: $off-white;
        text-shadow: none;
      }
    }
  }
}

.dataTables_wrapper {
  .dataTables_length {
    margin-right: 1rem;
    margin-bottom: 1rem;

    label {
      display: flex;
      align-items: center;

      select {
        margin: 0 0.5rem;
        width: 3rem;
        text-align: center;
        height: 40px;
      }
    }
  }

  .dataTables_filter {
    margin-bottom: 1rem;

    label {
      display: flex;
      align-items: center;

      input {
        width: 20rem;
        height: 28px;
      }
    }
  }

  table.dataTable thead > tr > th.sorting::before,
  table.dataTable thead > tr > th.sorting_asc::before {
    bottom: 52%;
  }

  table.dataTable thead > tr > th.sorting::after,
  table.dataTable thead > tr > th.sorting_asc::after {
    top: 52%;
  }
}

.table-wrapper {
  display: block;
  width: 100%;

  @include breakpoint(mobile-landscape down) {
    overflow-x: auto;
  }
}