/* ============================================================
  Styles for tables
  ============================================= */

table {
  font-size: 1rem;
  width: 100%;

  p {
    font-size: 1rem;
    margin: 0;
  }

  tr {

    td,
    th {
      padding: 0.5rem;
    }
  }
}
