/* ============================================================
  Styles for general typography and links.
  ============================================================ */

a {
  color: $teal;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  // &[href$='.pdf'] {
  //   background: url('/core/themes/classy/images/icons/application-pdf.png') no-repeat left center;
  //   display: inline-block;
  //   padding: 0 0 0 1.2rem;
  // }
}

p {
  line-height: 1.5;
  margin: 0 0 1rem;
}

// only style this stuff in the main body

.paragraph {

  ul,
  ol {
    line-height: 1.5;

    li {
      margin: 0.5rem 0 0.5rem 1rem;
      padding: 0 0 0 0.5rem;
    }
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }
}

.text-accent {
  font-size: 1.375rem;
}



blockquote {
  margin: 0;
  color: $spruce;
  @include rem( 'font-size', 18px );
  .author {
      margin: 1em 0;
      color: $spruce;
      display: block;
      font-weight: 600;
      text-align: right;
      font-style: normal;
      font-family: $body-copy;
      @include rem( 'font-size', 12px );
  }
}

ul {
  margin: .75em 0;
  list-style-type: disc;
  ul {
      list-style-type: circle;
  }
}

ol {
  margin: .75em 0;
}
li {
  margin: .5em 0;
}
dt {
  margin-bottom: .3em;
  font-weight: bold;
}

dd {
  margin: 0 0 .75em 0;
}


/* Heading
 ========================================================================== */

.heading {}

.heading--center {
  text-align: center;
}

.heading--right {
  text-align: right;
}

.heading--trim {
  margin: 0;
}

.heading--snug {
  margin-top: 0;
}

.heading--light {
  color: white;
}

.heading--normal {
  text-transform: none;
}

.heading--subcolor {
color: $teal;
}


/* Subheadline
 ========================================================================== */

.subheading {
  color: $teal;
  @include rem( 'font-size', 20px );
  font-family: $headline;
}
