{% if is_open %}
  <div class="office-hours-status office-hours-status--open">
    <span class="message message--success">{{ open_text }}</span>
  </div>
{% else %}
 <div class="office-hours-status office-hours-status--closed">
    <span class="message message--error">{{ closed_text }}</span>
  </div>
{% endif %}