{% if is_open %}
  <div class="office-hours-status office-hours-status--open">
    <div class="l-margin-ts l-margin-bm"><span class="message message--success">{{ open_text }}</span></div>
  </div>
{% else %}
 <div class="office-hours-status office-hours-status--closed">
    <div class="l-margin-ts l-margin-bm"><span class="message message--error">{{ closed_text }}</span></div>
  </div>
{% endif %}