/* ============================================================
  Admin helpers for when you're logged into Paladin.
  ============================================================ */

#block-paladin-local-tasks {
  ul {
    margin: 1rem 0;

    li {
      top: .1rem;
      
      a {
        padding: .5rem 1rem;
        font-size: 1.2rem;
      }
    }  
  }
}

// Messages.

.msg {
  font-size: 1.4rem;
  padding: .5rem 1rem;
}

.user-login-form {
  .js-form-item {
    margin: 1rem 0;
  }
}