/* ============================================================
  Admin helpers for when you're logged into Paladin.
  ============================================================ */

.block-local-tasks-block {

  ul {
    display: flex;
    margin: 0;

    li {
      top: 0.1rem;
      width: auto;

      &.is-active {
        background-color: $alto;
      }

      a {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        text-decoration: none;
      }
    }
  }
}

// Messages.

.msg {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.user-login-form {

  .js-form-item {
    margin: 1rem 0;
  }
}

#edit-submit-content {
  background-color: $cerulean;
  color: $white;

  &:hover,
  &:focus {
    background-color: lighten($cerulean, 10%);
  }
}

#toolbar-administration * {
  -webkit-font-smoothing: auto;
}

#admin-toolbar-search-tab .form-type-search {
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 0 !important;
}

#admin-toolbar-search-input {
  height: 30px;
}

form#user-login-form {
  padding: 0 1rem;

  input.form-text {
    width: 300px; //shorten login fields
  }
}

.toolbar-icon-menu-link-content47bd470e-6ae6-4092-abe1-8c44728a00e5::before { 
  background-image: url(/themes/custom/sand/images/file.svg) !important;
}

.toolbar-icon-user::before {
  background-image: url(/themes/contrib/mediteran/images/icons/ffffff/person.svg) !important;
}

article.profile {
  background-color: white;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}