/* ============================================================
  Admin helpers for when you're logged into Paladin.
  ============================================================ */

.block-local-tasks-block {
  ul {
    display: flex;
    margin: 0;

    li {
      top: 0.1rem;
      width: auto;

      &.is-active {
        background-color: $alto;
      }

      a {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        text-decoration: none;
      }
    }
  }
}

// Messages.

.msg {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.user-login-form {
  .js-form-item {
    margin: 1rem 0;
  }
}

#edit-submit-content {
  background-color: $cerulean;
  color: $white;

  &:hover,
  &:focus {
    background-color: lighten($cerulean, 10%);
  }
}

#toolbar-administration * {
  -webkit-font-smoothing: auto;
}

#admin-toolbar-search-tab .form-type-search {
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 0 !important;
}

#admin-toolbar-search-input {
  height: 30px;
}

form#user-login-form {
  padding: 0 1rem;

  input.form-text {
    width: 300px; //shorten login fields
  }
}

.toolbar-icon-menu-link-contentc3cb0e21-8990-45e2-a139-30af78aeea76::before {
  background-image: url(/themes/custom/sand/images/file.svg) !important;
}

.toolbar-icon-user::before {
  background-image: url(/themes/contrib/mediteran/images/icons/ffffff/person.svg) !important;
}

article.profile {
  background-color: white;
  padding: 1rem 1.5rem 1.5rem;
}

.entity-moderation-form {
  border: none;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: lighten($manz, 15%);

  .form-item {
    margin-top: 1rem;
  }

  #edit-current {
    font-weight: bold;
    font-size: 1.2em;

    label {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
  }
}

.path-feed,
.path-webform {
  main {
    background-color: white;
    padding: 2rem;

    .field__label {
      font-weight: bold;
    }
  }
}

.path-protected-page {
  .layout-content {
    background-color: white;

    form.protected-pages-enter-password {
      margin: 4rem 2rem;

      .protected_pages_description {
        margin-bottom: 0.5rem;
      }

      legend {
        margin-top: -0.5rem;
        padding-top: 0.5rem;
        border-radius: 4px 4px 0 0;
      }
    }
  }
}
