/* ============================================================
  Alignment and display helpers.
  ============================================================ */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.block {
  display: block;
}

.padding-top-05 {
  padding: .5rem 0 0 0;
}

.padding-bottom-05 {
  padding: 0 0 .5rem;
}


.padding-1-5 {
  padding: 1.5rem;
}

.margin-bottom-025 {
  margin: 0 0 .25rem;
}

.margin-bottom-05 {
  margin: 0 0 .5rem;
}

.margin-bottom-1-5 {
  margin: 0 0 1.5rem;
}

.margin-top-1-5 {
  margin: 1.5rem 0 0;
}

.margin-top-075 {
  margin: .75rem 0 0;
}

.margin-075 {
  margin: .75rem 0;
}
