/* Corners
   ========================================================================== */

.rounded-corner,
.rounded-corners {
  border-radius: 4px;
}

.rounded-corners-large {
  border-radius: 30px !important;
}

/* Borders
   ========================================================================== */

.border {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border: 1px solid $alto;
  &.border--dark {
    border-color: $chateau;
  }
}

.border--bottom {
  border-top: none;
  border-right: none;
  border-left: none;
}

.border--top {
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.border--right {
  border-bottom: none;
  border-left: none;
  border-top: none;
}

.border--right--desktop {
  // breakpoint(medium){
  // border-bottom: none;
  // border-left: none;
  // border-top: none;
  // }
}

.no-border-on-mobile {
  // @include breakpoint(medium down) {
  // 	border: none !important;
  // }
}

.border-radius {
  border-radius: 4px;
}

/* Horizontal Rules
   ========================================================================== */

   .hr--dashed {
    border-top: 1px dashed $alto;
}
