/* ============================================================
  Styles for background colors/gradients, opacity, and type color.
  ============================================================ */
$colors: (
  "cerulean": $cerulean,
  "robin": $robin,
  "teal": $teal,
  "pine": $pine,
  "sunshade": $sunshade,
  "schoolbus": $schoolbus,
  "spruce": $spruce,
  "westar": $westar,
  "white": $white,
  "tulip": $tulip,
  "chateau": $chateau,
  "science": $science,
  "shuttle": $shuttle,
  "gold": $gold,
  "picton": $picton,
  "riptide": $riptide,
  "texasrose": $texasrose,
  "manz": $manz,
  "endeavour": $endeavour,
  "off-white": $off-white,
  "off-black": $off-black,
  "mercury": $mercury,
  "alto": $alto,
  "gray": $gray,
  "light-gray": $light-gray,
  "charcoal": $charcoal,
  "pomegranate": $pomegranate, 
  "purple": $purple,
  "warning": $warning-lt,
  "mayor": $mayor
);

// Global
// ----------------------------------------------------------------------

@each $name, $color in $colors {
  .#{$name} {
    color: $color !important;

    &-bg {
      background: $color !important;
    }

    &-bg.bg-level-2 {
      background: rgba($color, 0.9);
    }

    &-bg.bg-level-3 {
      background: rgba($color, 0.5);
    }

    &-bg.bg-level-4 {
      background: rgba($color, 0.2);
    }
  }

  // .background--#{name} {
  //   background: $color !important;
  // }
}

/* Backgrounds
   ========================================================================== */

// For zebra striping
.background--odd {
  //background-color: lighten( $mercury, 2% ) !important;
  background-color: #f6f6f6;
}

.background--even {
  //background-color: darken( $mercury, 4% );
  background-color: #e4e9eb;
}

.message--dark,
.background--dark {
  background-color: $spruce !important;

  &.text-white {
    > * {
      color: white;
    }
  }
}

.message-off-white,
.background-off-white {
  background-color: lighten($mercury, 2%) !important;
}

.message-off-white-darker,
.background-off-white-darer {
  background-color: darken($mercury, 4%);
}

.message-white,
.background-white {
  background-color: white !important;
}

.message--cerulean,
.background--cerulean {
  background-color: $cerulean !important;
}

.message--science,
.background--science {
  background-color: $science !important;
}

.message--sunshade,
.background--sunshade {
  background: $sunshade !important;
}

.message--robin,
.background--robin {
  background: $robin !important;
}

.message--westar,
.background--westar {
  background: $westar !important;
}

.message--off-white,
.background--off-white {
  background: $off-white !important;
}

.message--riptide,
.background--riptide {
  background: $riptide !important;
}

.message--texasrose,
.background--texasrose {
  background: $texasrose !important;
}

.message--manz,
.background--manz {
  background: $manz !important;
}

// Overlays
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(55 66 74 / 50%);
}

/* Gradient
   ========================================================================== */
%black-gradient {
  background: linear-gradient(top, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 45%) 75%, rgb(0 0 0 / 60%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0 0 0 / 0%)), color-stop(75%, rgb(0 0 0 / 45%)), color-stop(100%, rgb(0 0 0 / 60%))); /* Chrome,Safari4+ */
  background: linear-gradient(top, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 45%) 75%, rgb(0 0 0 / 60%) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 45%) 75%, rgb(0 0 0 / 60%) 100%); /* Opera 11.10+ */
  background: linear-gradient(top, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 45%) 75%, rgb(0 0 0 / 60%) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 45%) 75%, rgb(0 0 0 / 60%) 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#00000000", endColorstr="#99000000", GradientType=0); /* IE6-9 */
}

%white-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0.9+0,1+100 */
  background: linear-gradient(top, rgb(255 255 255 / 90%) 0%, rgb(255 255 255 / 100%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255 255 255 / 90%)), color-stop(100%, rgb(255 255 255 / 100%))); /* Chrome,Safari4+ */
  background: linear-gradient(top, rgb(255 255 255 / 90%) 0%, rgb(255 255 255 / 100%) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, rgb(255 255 255 / 90%) 0%, rgb(255 255 255 / 100%) 100%); /* Opera 11.10+ */
  background: linear-gradient(top, rgb(255 255 255 / 90%) 0%, rgb(255 255 255 / 100%) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgb(255 255 255 / 90%) 0%, rgb(255 255 255 / 100%) 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#e6ffffff", endColorstr="#ffffff", GradientType=0); /* IE6-9 */
}

@mixin gray-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d4d4d4+100 */
  background: #fff; /* Old browsers */
  background: linear-gradient(top, #fff 0%, #d4d4d4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d4d4d4)); /* Chrome,Safari4+ */
  background: linear-gradient(top, #fff 0%, #d4d4d4 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #fff 0%, #d4d4d4 100%); /* Opera 11.10+ */
  background: linear-gradient(top, #fff 0%, #d4d4d4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #d4d4d4 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#ffffff", endColorstr="#d4d4d4", GradientType=0); /* IE6-9 */
}

/* Think Blue specific colors
   ========================================================================== */

$color-names: cerulean, robin, sunshade, schoolbus, spruce, westar, teal, tulip, gold, science, endeavour, purple, success, red;
$color-values: $cerulean, $robin, $sunshade, $schoolbus, $spruce, $westar, $teal, $tulip, $gold, $science, $endeavour, $purple, $success, $error;

@for $c from 1 through 14 {
  $color-name: nth($color-names, $c);
  $color-value: nth($color-values, $c);

  .background--#{"" + $color-name} {
    background: $color-value !important;
  }
}

// Status indicators

.status-available,
.status-open {
  background-color: $success !important;
}

.status-unavailable,
.status-closed {
  background-color: $error !important;
}

.status-impacted {
  background-color: $sunshade !important;
}
