/* Lists
   ========================================================================== */
.no-bullets {
  padding: 0;
  list-style-type: none;
}
.two-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  //list-style: inside disc;
  li:first-child {
    margin-top: 0;
  }
  /*li {
        padding-left: 1em;
        text-indent: -1em;
    }*/

  &--desktop {
    // @include breakpoint(medium) {
    //   -webkit-column-count: 2;
    //   -moz-column-count: 2;
    //   -ms-column-count: 2;
    //   column-count: 2;
    // }
    li:first-child {
      margin-top: 0;
    }
  }

  &--mobile {
    // @include breakpoint(medium down) {
    //   -webkit-column-count: 2;
    //   -moz-column-count: 2;
    //   -ms-column-count: 2;
    //   column-count: 2;
    // }
    li:first-child {
      margin-top: 0;
    }
  }
}

.three-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;

  li:first-child {
    margin-top: 0;
  }

  &--desktop {
    // @include breakpoint(medium) {
    //   -webkit-column-count: 3;
    //   -moz-column-count: 3;
    //   -ms-column-count: 3;
    //   column-count: 3;
    // }
    li:first-child {
      margin-top: 0;
    }
  }
  &--mobile {
    // @include breakpoint(medium down) {
    //   -webkit-column-count: 3;
    //   -moz-column-count: 3;
    //   -ms-column-count: 3;
    //   column-count: 3;
    // }
    li:first-child {
      margin-top: 0;
    }
  }
}

.four-columns {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  column-count: 4;

  li:first-child {
    margin-top: 0;
  }

  &--desktop {
    // @include breakpoint(medium) {
    //   -webkit-column-count: 4;
    //   -moz-column-count: 4;
    //   -ms-column-count: 4;
    //   column-count: 4;
    // }
    li:first-child {
      margin-top: 0;
    }
  }
}
