/* Lists
   ========================================================================== */
.no-bullets {
  padding: 0;
  list-style-type: none;
}

.two-columns {
  column-count: 2;
  column-gap: 2.5em;

  //list-style: inside disc;

  li {
    break-inside: avoid-column;
    
    &:first-child {
      margin-top: 0;
    }
  }

  /* li {
        padding-left: 1em;
        text-indent: -1em;
    } */

  &--desktop {
    li {
      break-inside: avoid-column;
      
      &:first-child {
        margin-top: 0;
      }
    }

    @include breakpoint(medium up) {
      column-count: 2;
      column-gap: 2.5em;
    }
  }

  &--mobile {
    li {
      break-inside: avoid-column;
      
      &:first-child {
        margin-top: 0;
      }
    }

    @include breakpoint(medium) {
      column-count: 2;
      column-gap: 2.5em;
    }
  }
}

.three-columns {
  column-count: 3;
  column-gap: 2.5em;

  li {
    break-inside: avoid-column;
    
    &:first-child {
      margin-top: 0;
    }
  }

  &--desktop {
    li {
      break-inside: avoid-column;
      
      &:first-child {
        margin-top: 0;
      }
    }

    @include breakpoint(medium up) {
      column-count: 3;
      column-gap: 2.5em;
    }
  }

  &--mobile {
    li {
      break-inside: avoid-column;
      
      &:first-child {
        margin-top: 0;
      }
    }

    @include breakpoint(medium) {
      column-count: 3;
      column-gap: 2.5em;
    }
  }
}

.four-columns {
  column-count: 4;
  column-gap: 2.5em;

  li {
    break-inside: avoid-column;
    
    &:first-child {
      margin-top: 0;
    }
  }

  &--desktop {
    li {
      break-inside: avoid-column;
      
      &:first-child {
        margin-top: 0;
      }
    }

    @include breakpoint(medium up) {
      column-count: 4;
      column-gap: 2.5em;
    }
  }
}
