// ==========================================================================
// Typography
// ==========================================================================

/**
 * Type uses Modular Scale - Major Third (1.250)
 * http://type-scale.com/?size=16&scale=1.250&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=%27Libre%20Baskerville%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 1em 0 0.5em;
  color: $font-color;
  font-weight: unset;
  font-family: $font-family-secondary;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  line-height: 1.3;
}

h1,
.h1 {
  margin: 0.5em 0;

  &--mobile {
    @include breakpoint(mobile-landscape down) {
      @include rem("font-size", 36px); }
  }

  @include rem("font-size", 36px); // 2.441em

  @media print {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
  }
}

.single-line {
  @include breakpoint(medium) {
    padding-top: 20px;
  }
}

.multi-line {
  @include breakpoint(medium) {
    //padding-top: 10px;
  }
}

h2,
.h2 {
  &--mobile {
    @include breakpoint(mobile-landscape down) {
      @include rem("font-size", 27px); }
  }

  @include rem("font-size", 27px); // 1.953em

  @media print {
    font-size: 1.25em;
    margin: 0;
    font-weight: bold;
  }
}

h3,
.h3 {
  &--mobile {
    @include breakpoint(mobile-landscape down) {
      @include rem("font-size", 21px); }
  }

  @include rem("font-size", 21px); // 1.3125em

  @media print {
    font-size: 1.1em;
    margin: 0;
    font-weight: bold;
  }
}

h4,
.h4 {
  font-weight: 600;

  &--mobile {
    @include breakpoint(mobile-landscape down) {
      @include rem("font-size", 16px); }
  }

  @include rem("font-size", 16px); // 1.25em

  @media print {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
  }
}

h5,
.h5 {
  &--mobile {
    @include breakpoint(mobile-landscape down) {
      @include rem("font-size", 16px); }
  }

  @include rem("font-size", 16px); // 1.125em

  @media print {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
  }
}

h6,
.h6 {
  &--mobile {
    @include breakpoint(mobile-landscape down) {
      @include rem("font-size", 16px); }
  }

  @include rem("font-size", 16px); // 1em

  @media print {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
  }
}

p {
  line-height: 1.5;
  margin: 0 0 0.75rem;

  &:last-child {
    margin-bottom: 0;
  }
}

html,
button,
input,
select,
textarea {
  font-family: $font-family;
  color: $font-color;
}

a {
  text-decoration: underline;
  color: $link-color;

  // @include transition-property(color, background, border);
  // @include transition-duration(0.15s);
  &:hover,
  &:focus {
    color: lighten($link-color, 10%);
    text-decoration: underline;
  }
}

blockquote {
  position: relative;
  margin: 0 2em 1em;
  padding: 1em 1em 1em 2em;
  color: $font-color;

  // font-style: italic;
  // font-family: $font-family-secondary;
  border-left: 4px solid #d1d4d3;
  background-color: $off-white;
  border-radius: 0 4px 4px 0;

  p {
    color: $font-color;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .author {
    margin: 1em 0 0;
    color: $font-color;
    display: block;
    font-weight: 600;
    text-align: right;
    font-style: normal;
    font-family: $font-family;

    @include rem("font-size", 12px);
  }

  &::before {
    font-family: "u2000";
    content: "\201C";
    font-size: 4rem;
    line-height: 1;
    position: absolute;
    top: 8px;
    left: -22px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid #d1d4d3;
    color: $font-color;
    display: flex;
    justify-content: center;
    border-radius: 50%;
  }
}

dt {
  margin-bottom: 0.3em;
  font-weight: bold;
}

dd {
  margin: 0 0 0.75em;
}

/* Heading
    ========================================================================== */

.heading--center {
  text-align: center !important;
}

.heading--right {
  text-align: right !important;
}

.heading--trim {
  margin: 0 !important;
}

.heading--snug {
  margin-top: 0 !important;
}

.heading--light {
  color: white !important;
}

.heading--normal {
  text-transform: none;
}

.heading--subcolor {
  color: $pine !important;
}

/* Subheading
    ========================================================================== */

.subheading {
  color: $pine !important;
  font-family: $font-family-secondary;

  @include rem("font-size", 20px);
}

.bold {
  font-weight: 600;
}

.size-18 {
  font-size: 1.125rem;
}

/* Text Sizing
   ========================================================================== */
span[class^="text-"] {
  color: rgb(255 255 255 / 65%);

  &.current {
    color: white;
    text-decoration: underline;
  }

  &.text-sm {
    @include rem("font-size", 13px);
  }

  &.text-nm {
    @include rem("font-size", 16px);
  }

  &.text-lg {
    @include rem("font-size", 20px);
  }
}

/* Text Formatting
   ========================================================================== */

.fine-print {
  font-size: 0.8em;
}

.text-accent {
  font-size: 1.3em;
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.text-accent--desktop {
  @include breakpoint(mobile-landscape up) {
    font-size: 1.3em;
  }
}

.text-center--mobile {
  @include breakpoint(mobile-landscape down) {
    text-align: center !important;
  }
}

.text-center {
  text-align: center !important;
}

.text-center--mobile {
  @include breakpoint(mobile-landscape down) {
    text-align: center !important;
  }
}

.text-center--desktop {
  @include breakpoint(mobile-landscape up) {
    text-align: center !important;
  }
}

.text-right {
  text-align: right !important;
}

.text-right--mobile {
  @include breakpoint(mobile-landscape down) {
    text-align: right !important;
  }
}

.text-right--desktop {
  @include breakpoint(mobile-landscape up) {
    text-align: right !important;
  }
}

.text-left {
  text-align: left !important;
}

.text-left--mobile {
  @include breakpoint(mobile-landscape down) {
    text-align: left !important;
  }
}

.text-left--desktop {
  @include breakpoint(mobile-landscape up) {
    text-align: left !important;
  }
}

.text-capitalize {
  text-transform: capitalize;
}

.text-upper {
  text-transform: uppercase;
}

.text-small {
  @include breakpoint(medium) {
    @include rem("font-size", 13px);
  }
}

.text-white {
  color: white !important;
}

.text-off-white {
  color: $off-white !important;
}

.text-off-white-like-background {
  color: lighten($mercury, 2%) !important;
}

.text-gray {
  color: $gray !important;
}

.text-pom {
  color: $pomegranate !important;
}

.text-spruce {
  color: $font-color !important;
}

.inactive-link {
  pointer-events: none !important;
  cursor: default !important;
}

.attention {
  color: #c51313;
  text-transform: uppercase;

  @include rem("font-size", 12px);
}

.text-bold {
  font-weight: bold;
}

strong {
  a {
    font-weight: bold;
  }
}

.no-underline {
  text-decoration: none !important;
}

// pattern library use only
p.nav-ex {
  color: $font-color;
  font-weight: 200;
}

.view-all-link {
  font-family: $font-family;

  @include rem( "font-size", 16px );
}

.view-more {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-family: $font-family;

  i {
    font-weight: 600;

    @include rem( "font-size", 8px );
  }

  @include rem( "font-size", 13px );
}

.text-mayor {
  color: #551a8b !important; //custom text color for mayor's site
}
