/* ============================================================
  Typographic helpers.
  ============================================================ */

.bold {
  font-weight: 600;
}

.size-18 {
  font-size: 1.125rem;
}

/* Text Sizing
   ========================================================================== */
   span[class^="text-"] {
    color: rgba(255, 255, 255, 0.65);
    margin: 2px;
  
    &.current {
      color: white;
      text-decoration: underline;
    }
  
    &.text-sm {
      @include rem('font-size', 13px);
    }
  
    &.text-nm {
      @include rem('font-size', 16px);
    }
  
    &.text-lg {
      @include rem('font-size', 20px);
    }
  }