/* ============================================================
  Styles for accordions.
  ============================================================ */
.accordion-container {

  .title {
    font-size: 1.5rem;
    font-family: $headline;
    padding: .5rem 0;

    svg {
      font-size: 2rem;
      top: .3rem;
    }
  }

  .body {
    font-family: $body-copy;
    padding: 1rem 0;
    font-size: 1.125rem;
    line-height: 1.7;

    .txt {
      ul,
      ol {
        margin: 1rem;
      }
    }

  }
}
