/* ============================================================
  Styles for accordions.
  ============================================================ */

.accordion {
  margin: 0 0 1em 0;

  .accordion-title {
    color: $mercury;
    background-color: $mercury;
    font-size: 1.6875rem;
    color: $spruce;
    text-decoration: none;

    &:hover {
      color: $cerulean;
    }

    &:before {
      margin-top: -0.8rem;
    }
  }

  .accordion__drawer {
    padding: 1em;
    display: none;
    border: 1px solid $chateau;
    border-top: none;
  }
}
