/* Alerts
   ========================================================================== */
   .alert {
    color: white;
    background: $science;
  
    p {
      // @include breakpoint(medium) {
      //   @include rem('font-size', 13px);
      // }
    }
  
    i {
      @include rem('font-size', 32px);
    }
  
    .alert__heading {
      color: white;
      padding: .2em .5em;
      margin-bottom: .5em;
      @include rem('font-size', 24px);
      font-family: $font-family-secondary;
      background: lighten($science, 5%);
    }
  
    .alert__content {
      padding: 0 .75em;
    }
  }
