/* Alerts
  ========================================================================== */
.alert {
  padding: 1em;
  text-align: center;
  position: relative;

  i {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 0.5em;
  }

  .alert__heading {
    color: white;
    padding: 0.2em 0.5em;
    margin-bottom: 0.5em;
    font-family: $font-family-secondary;
    background: lighten($science, 5%);

    @include rem("font-size", 24px);
  }

  .alert__content {
    padding: 0 0.75em;
  }

  #block-sitewidealert & {
    border-bottom: 1px solid $alto;
  }
}

.sitewide-alert .close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5em;
  font-size: 2em;
}
