/* ============================================================
  Styles for cards and featured cards.
  ============================================================ */

/* Cards Styles from D7 */
%card {
  background: white;
  border-radius: 4px;
  width: 100%;

  &.border {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @include breakpoint(medium) {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.card {
  @extend %card;

  > a {
    text-decoration: none;
  }

  &.background-off-white {
    background: $off-white;
  }
}

.card__container {
  position: relative;

  @include breakpoint(large) {
    display: block;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: flex-start; /* Safari */
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  // If .mobile-flexslider exists, it creates a ul.slides wrapping the .cards
  @include breakpoint(large) {
    .slides {
      display: block;
      display: -webkit-flex; /* Safari */
      display: flex;
      -webkit-justify-content: flex-start; /* Safari */
      justify-content: flex-start;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;

    }
  }

  &.mobile-flexslider {
    height: 100% !important;
  }

  .card__wrap, .card--wrap {
    height: auto;
    margin: 0 .5em;
    width: 100%;

    @include breakpoint(medium) {
      display: -webkit-flex; /* Safari */
      display: flex;
      margin: 0;
      padding-left: 1.0416588541%;
      padding-right: 1.0416588541%;
      width: 33.333333%;

      .card {
        flex: 0 1 auto;
      }
    }
  }

  .card__wrap_s, .card--wrap-s {
    height: auto;
    margin: 0 .5em;
    width: 100%;

    @include breakpoint(large) {
      margin: 0;
      padding: .75em;
      display: -webkit-flex; /* Safari */
      display: flex;

      .card {
        flex: 0 1 auto;
      }
    }
  }

  .card__wrap_m, .card--wrap-m {
    height: auto;
    margin: 0 .5em;
    width: 100%;

    @include breakpoint(large) {
      margin: 0;
      padding: .75em;
      display: -webkit-flex; /* Safari */
      display: flex;

      .card {
        flex: 0 1 auto;
      }
    }
  }

  .card__content {
    padding: 1.5em;

    @include breakpoint(medium) {
      @include rem('font-size', 13px);
    }

    > a {
      @include rem('font-size', 16px);
    }
  }

  .card__headline.title,
  .card__headline a {
    color: $spruce;
    text-decoration: none;
    font-family: $headline;
    @include rem('font-size', 16px);
  }

  .card__meta {
    margin: 1em 0;

    a {
      color: $cerulean;
      text-decoration: underline;
    }
  }

  .card__image {
    img {
      width: 100%;
      border-radius: 4px 4px 0 0;
    }
  }

  .card__btn {
    display: block;
    font-weight: 600;
  }

  &.flexslider--mobile {
    .card__wrap {
      @include breakpoint(medium) {
        margin: 0;
      }
    }
  }
}

.card__cta--graphic {
  text-align: center;

  background {
    position: center center;
    repeat: no-repeat;
  }

  & > a {
    display: block;
    padding: 1.5em;
    position: relative;

    &:before {
      content: '';
      display: block;
      background: black;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .25s ease;
    }

    &:hover {
      &:before {
        opacity: .1;
      }
    }
  }

  a {
    @include rem('font-size', 16px);
  }

  p {
    color: white;
    @include rem('font-size', 18px);
    font-family: $headline;
  }
}

.card--stats {
  color: white;
  padding: 0.75em;
  border-radius: 0;
  text-align: right;
  background-color: $cerulean;

  p {
    margin: 0;
  }

  .card__headline {
    line-height: 1;
    font-weight: 700;
    @include rem('font-size', 50px);
  }
}

.card--notification {
  p {
    margin-bottom: 0;
  }

  i {
    color: white;
    padding: .3em;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    font-size: 1.5rem;
  }

  .date {
    margin: 0;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    @include rem('font-size', 12px);
    font-family: $headline;
  }
}

/* Featured Cards for D9 */
.featured-card-group {
  padding: 1rem 0;

  h2 {
    font-family: $headline;
    font-size: 1.6875rem;
    margin: 1em 0 0.8em 0;
  }

  .featured-card-group__wrapper {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    justify-content: space-between;

    @include breakpoint(small) {
      flex-flow: row wrap;
    }
  }
}

/* Featured Card Item for D9 */
.featured-card {
  background-color: $mercury;
  border-radius: 4px;

  @include breakpoint(mobile-landscape) {
    width: calc(50% - 1rem);
  }

  @include breakpoint(medium) {
    width: calc(33.33% - 1rem);
  }

  a {
    display: block;
    text-decoration: none;
  }

  .image {
    width: 100%;
    height: auto;
  }

  img {
    border-radius: 4px 4px 0 0;
  }

  .featured-card__content {
    color: $charcoal;
    @include breakpoint(medium) {
      font-size: .8125rem;
    }
    padding: 1.5em;

    .featured-card__heading {
      font-family: $headline;
      font-size: 1rem;
      margin: 0 0 0.75em;
    }
  }
}
