.field--name-field-featured-items {
  @include xy-grid;
  justify-content: center;
  text-align: center;

  > .field__item {
    @include xy-cell(6);

    @include breakpoint(medium) {
      @include xy-cell(2);
    }

  }
}

.featured-items {
  .field--name-field-license {
    display: none;
  }


}
