.field--name-field-featured-items {
  @include xy-grid;
  text-align: center;
  justify-content: unset;
  row-gap: 1rem;

  @include breakpoint(medium) {
    justify-content: center;
  }

  > .field__item {
    @include xy-cell(6);

    @include breakpoint(medium) {
      @include xy-cell(2);
    }

  }
}

.featured-items {

  a,
  a:hover {
    color: $spruce;
  }

  .field--name-field-license {
    display: none;
  }


}
