/* ============================================================
  Styles for office hours.
  ============================================================ */

.office-hours__item {
  padding-bottom: .5em;
}

.office-hours-status-- {
  &open, &closed {
    .message {
      padding: 0.5em;
    }
  }
  
  &open .message {
    border: 1px solid #659f13;
    color: #195A16 !important;
  }
  
  &closed .message {
    border: 1px solid #940500;
    color: #940500 !important;
  }
}

.office-hours__item-comments {
  padding-left: 0.5em;
}