/* ============================================================
  Styles for office hours.
  ============================================================ */

.office-hours__item {
  padding-bottom: 0.5em;
}

.office-hours-notes {
  margin-top: 0.5rem;
}

.office-hours-status {
  margin: 1.4rem 0 1.5rem;

  &.office-hours-status-- {
    &open,
    &closed {
      font-style: normal;

      .message {
        padding: 0.5em;
      }
    }

    &open .message {
      border: 1px solid #659f13;
      color: #195a16 !important;
    }

    &closed .message {
      border: 1px solid #940500;
      color: #940500 !important;
    }
  }
}

.office-hours__item-comments {
  padding-left: 0.5em;
}
