.paragraph--type--resources {
  display: flex;
  margin-bottom: 1rem;

  .btn {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .content {
      align-items: center;
      display: flex;
    }
  }
}
