.resources {
  padding: 1rem 2rem 3rem;
  margin: 0 2rem;

  @include respond-to('m') {
    margin: 0;
  }

  .field__label {
    color: $spruce;
    font-family: $headline;
    font-size: 1.6875rem;
    margin-bottom: 0.875rem;
    margin-top: 1.7rem;
  }

  .paragraph--type--resources {
    display: flex;
    margin-bottom: 1rem;

    .btn {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .content {
        align-items: center;
        display: flex;
      }

      .icon {
        width: 2rem;
        padding-left: 0.5rem;
      }
    }
  }
}
