/* ============================================================
  Styles for social links.
  ============================================================ */
.socials {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 0.1em;
    display: inline-block;
    vertical-align: bottom;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $font-color;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    background: $off-white;

    i {
      height: 1.5em;
      line-height: 1.5em;
      display: block;
    }

    @include rem("font-size", 16px);
  }
}

.social-share__wrap {
  .department-socials {
    list-style-type: none;

    .socials-item {
      display: inline-block;
      background-size: cover;
    }

    .socials-link {
      font-size: 1.2rem;
      background: rgb(246 246 246 / 80%);
    }
  }

  span[class^="st"] {
    background-size: cover;
  }

  .stButton {
    margin: 0;

    .stLarge {
      width: 27px;
      height: 27px;

      &:hover {
        background-position: top left;
      }
    }
  }

  @media print {
    display: none;
  }
}

.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;

  li {
    list-style: none;
    margin: 0 0.25rem;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }

    a {
      background: $off-white;
      border-radius: 2px;
      color: $charcoal;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      height: 2rem;
      text-align: center;
      text-decoration: none;
      width: 2rem;

      &:hover {
        color: $link-color;
      }
    }
  }
}

a {
  /* Change background-color to matching social media platform color */
  &.icon--twitter:hover { color: white !important; background-color: $twitter; }
  &.icon--facebook:hover { color: white !important; background-color: $facebook; }
  &.icon--google:hover { color: white !important; background-color: $googleplus; }

  &.icon--instagram:hover {
    color: white !important;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  }
  &.icon--youtube:hover { color: white !important; background-color: $youtube; }
  &.icon--pinterest:hover { color: white !important; background-color: $pinterest; }
  &.icon--nextdoor:hover { color: white !important; background-color: $nextdoor; }
  &.icon--linkedin:hover { color: white !important; background-color: $linkedin; }
  &.icon--reddit:hover { color: white !important; background-color: $reddit; }
  &.icon--tiktok:hover { color: white !important; background-color: $tiktok; }
  &.icon--threads:hover { color: white !important; background-color: $threads; }
}
