/* Stellar
   ========================================================================== */
.stellar-window {
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;

  &.repeat-x {
    @include breakpoint(medium) {
      background-size: auto auto;
      background-repeat: repeat-x;
    }
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: white;
    text-shadow: 0 0 #555, 0 2px 0.3em black, 2px 0 0.3em black, 0 0 black;
  }

  .no-shadow,
  .no-styling {
    h1,
    h2,
    h3,
    h4,
    p {
      text-shadow: none;
    }
  }

  p.noshadow {
    text-shadow: none;
  }

  @include breakpoint(medium) {
    min-height: 300px;
    background-size: 100% auto;
  }

  @include breakpoint(medium down) {
    min-height: 150px;
    background-size: auto 100%;
  }
}
