/* Steps
   ========================================================================== */
  .step__single {
    margin: 2em 0;
    background: white;
    position: relative;
    padding: .5em .75em;
    text-align: center;
    border: 1px solid $chateau;

    .icon--circle {
      width: 2em;
      height: 2em;
      text-align: center;
      margin-bottom: 0;
      line-height: 2em;
      padding: 0;
      vertical-align: middle;
      font-family: $font-family-secondary;
      @include rem('font-size', 22px);
    }

    @include breakpoint(mobile only) {
      margin: .75em 0;
      text-align: left;

      &:before {
        right: 1em;
        top: -.85em;
        transform: none;
      }
    }

    @include breakpoint(medium) {
      margin: .75em 0;
      text-align: left;

      &:before {
        right: 1em;
        top: -.85em;
        transform: none;
      }
    }

    @include breakpoint(medium-large) {
      .columns {
        display: block;
      }
    }

    h4, .h4 {
      line-height: 1.5;
      padding: 0;
    }

    &.accordion__heading {
      padding: 1rem 3.5rem 1rem 1rem;
      margin-bottom: 0;
    }
  }

  .step__header {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    @include rem('font-size', 16px);

    .step__desc {
      font-family: $font-family;
    }

    @include breakpoint(mobile-wide up) {
      //margin: 0;
      //line-height: 40px;
      padding-top: .3em;
    }
  }

  .step__num {
    float: right;
    font-family: $font-family-secondary;

    @include breakpoint(medium down) {
      margin-left: 1em;
    }
  }
