/* Weather
   ========================================================================== */

.card--weather {
  color: white;
  text-align: left;
  padding: 0.25em 0.75em;
  border-radius: 3px;
  display: inline-block;
  font-family: $font-family-secondary;
  background-color: darken($cerulean, 9%);

  p {
    margin: 0 0.2em;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;

    &.temperature {
      @include rem("font-size", 24px);
    }

    @include rem("font-size", 11px);
  }

  i {
    vertical-align: middle;

    @include rem("font-size", 24px);
  }
}
