{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<div class="header" style="background-image:url('/themes/custom/sand/images/hero-inside-sd.jpg')">
  <div class="l-padding-vm">
    <div class="grid-container">
      <div class="grid-x l-padding-mobile-hm l-flex-center-v">
        <div class="cell medium-4 text-center--mobile">
          <h1 class="visuallyhidden">Inside San Diego</h1>
          <p><a href="/"><img src="/themes/custom/sand/images/inside-sd-logo.svg" alt="Inside San Diego logo" width="200" height="auto"></a></p>
        </div>
        <div class="cell medium-auto node-type-article">
          <p class="main__tagline l-margin-bn">News &amp; information from the City&nbsp;of&nbsp;San&nbsp;Diego</p>
        </div>
      </div>
    </div>
  </div>
{{ title_suffix }}
</div>
